[{:organ "lung", :tool "post-transplant", :clj-inputs {:tage :rage_grp_1, :type :t1, :tlc-mismatch :tlc_mis_1, :donor-cmv :negative, :cholesterol :chol_grp_1, :fvcreg :fvc_grp_1, :donor-smokes :no, :dd-pred :pred-0, :bilirubin :bili_grp_1, :d-gp :cf}, :r-inputs {"fvc" "1", "bili" "1", "dis" "CF", "pred" "0", "dsmoke" "1", "rage" "1", "type" "1", "cent" "Harefield", "dcmv" "1", "chol" "1", "tlc" "1"}, :result [{:post-transplant 12.403813553694276, :residual 87.59618644630572, :year 1} {:post-transplant 21.68366126729807, :residual 78.31633873270192, :year 3} {:post-transplant 29.305862757869004, :residual 70.69413724213099, :year 5}]}
 {:organ "lung", :tool "post-transplant", :clj-inputs {:tage :rage_grp_2, :type :t1, :tlc-mismatch :tlc_mis_1, :donor-cmv :negative, :cholesterol :chol_grp_1, :fvcreg :fvc_grp_1, :donor-smokes :no, :dd-pred :pred-0, :bilirubin :bili_grp_1, :d-gp :cf}, :r-inputs {"fvc" "1", "bili" "1", "dis" "CF", "pred" "0", "dsmoke" "1", "rage" "2", "type" "1", "cent" "Harefield", "dcmv" "1", "chol" "1", "tlc" "1"}, :result [{:post-transplant 9.353583930888398, :residual 90.6464160691116, :year 1} {:post-transplant 16.5766564403499, :residual 83.42334355965009, :year 3} {:post-transplant 22.67637734790673, :residual 77.32362265209328, :year 5}]}
 {:organ "lung", :tool "post-transplant", :clj-inputs {:tage :rage_grp_3, :type :t1, :tlc-mismatch :tlc_mis_1, :donor-cmv :negative, :cholesterol :chol_grp_1, :fvcreg :fvc_grp_1, :donor-smokes :no, :dd-pred :pred-0, :bilirubin :bili_grp_1, :d-gp :cf}, :r-inputs {"fvc" "1", "bili" "1", "dis" "CF", "pred" "0", "dsmoke" "1", "rage" "3", "type" "1", "cent" "Harefield", "dcmv" "1", "chol" "1", "tlc" "1"}, :result [{:post-transplant 9.403112855543327, :residual 90.59688714445667, :year 1} {:post-transplant 16.660762283849763, :residual 83.33923771615024, :year 3} {:post-transplant 22.78696880890383, :residual 77.21303119109618, :year 5}]}
 {:organ "lung", :tool "post-transplant", :clj-inputs {:tage :rage_grp_4, :type :t1, :tlc-mismatch :tlc_mis_1, :donor-cmv :negative, :cholesterol :chol_grp_1, :fvcreg :fvc_grp_1, :donor-smokes :no, :dd-pred :pred-0, :bilirubin :bili_grp_1, :d-gp :cf}, :r-inputs {"fvc" "1", "bili" "1", "dis" "CF", "pred" "0", "dsmoke" "1", "rage" "4", "type" "1", "cent" "Harefield", "dcmv" "1", "chol" "1", "tlc" "1"}, :result [{:post-transplant 9.868980726839515, :residual 90.13101927316049, :year 1} {:post-transplant 17.44995707410122, :residual 82.55004292589878, :year 3} {:post-transplant 23.822406449182466, :residual 76.17759355081753, :year 5}]}
 {:organ "lung", :tool "post-transplant", :clj-inputs {:tage :rage_grp_5, :type :t1, :tlc-mismatch :tlc_mis_1, :donor-cmv :negative, :cholesterol :chol_grp_1, :fvcreg :fvc_grp_1, :donor-smokes :no, :dd-pred :pred-0, :bilirubin :bili_grp_1, :d-gp :cf}, :r-inputs {"fvc" "1", "bili" "1", "dis" "CF", "pred" "0", "dsmoke" "1", "rage" "5", "type" "1", "cent" "Harefield", "dcmv" "1", "chol" "1", "tlc" "1"}, :result [{:post-transplant 12.17756759325679, :residual 87.82243240674322, :year 1} {:post-transplant 21.30993589056114, :residual 78.69006410943886, :year 3} {:post-transplant 28.826703733244962, :residual 71.17329626675503, :year 5}]}
 {:organ "lung", :tool "post-transplant", :clj-inputs {:tage :rage_grp_1, :type :t1, :tlc-mismatch :tlc_mis_1, :donor-cmv :negative, :cholesterol :chol_grp_1, :fvcreg :fvc_grp_1, :donor-smokes :no, :dd-pred :pred-0, :bilirubin :bili_grp_1, :d-gp :other}, :r-inputs {"fvc" "1", "bili" "1", "dis" "Other", "pred" "0", "dsmoke" "1", "rage" "1", "type" "1", "cent" "Harefield", "dcmv" "1", "chol" "1", "tlc" "1"}, :result [{:post-transplant 21.539392425138736, :residual 78.46060757486126, :year 1} {:post-transplant 36.08949987954614, :residual 63.91050012045386, :year 3} {:post-transplant 47.01907079047595, :residual 52.98092920952405, :year 5}]}
 {:organ "lung", :tool "post-transplant", :clj-inputs {:tage :rage_grp_1, :type :t1, :tlc-mismatch :tlc_mis_1, :donor-cmv :negative, :cholesterol :chol_grp_1, :fvcreg :fvc_grp_1, :donor-smokes :no, :dd-pred :pred-0, :bilirubin :bili_grp_1, :d-gp :pf}, :r-inputs {"fvc" "1", "bili" "1", "dis" "PF", "pred" "0", "dsmoke" "1", "rage" "1", "type" "1", "cent" "Harefield", "dcmv" "1", "chol" "1", "tlc" "1"}, :result [{:post-transplant 18.7988461866015, :residual 81.20115381339849, :year 1} {:post-transplant 31.908851754913105, :residual 68.0911482450869, :year 3} {:post-transplant 42.03491766593488, :residual 57.96508233406512, :year 5}]}
 {:organ "lung", :tool "post-transplant", :clj-inputs {:tage :rage_grp_1, :type :t1, :tlc-mismatch :tlc_mis_1, :donor-cmv :negative, :cholesterol :chol_grp_1, :fvcreg :fvc_grp_1, :donor-smokes :no, :dd-pred :pred-0, :bilirubin :bili_grp_1, :d-gp :copd}, :r-inputs {"fvc" "1", "bili" "1", "dis" "COPD", "pred" "0", "dsmoke" "1", "rage" "1", "type" "1", "cent" "Harefield", "dcmv" "1", "chol" "1", "tlc" "1"}, :result [{:post-transplant 17.995815897967827, :residual 82.00418410203217, :year 1} {:post-transplant 30.6608874522583, :residual 69.3391125477417, :year 3} {:post-transplant 40.521709144317796, :residual 59.478290855682204, :year 5}]}
 {:organ "lung", :tool "post-transplant", :clj-inputs {:tage :rage_grp_1, :type :t1, :tlc-mismatch :tlc_mis_1, :donor-cmv :negative, :cholesterol :chol_grp_1, :fvcreg :fvc_grp_1, :donor-smokes :no, :dd-pred :pred-1-14, :bilirubin :bili_grp_1, :d-gp :cf}, :r-inputs {"fvc" "1", "bili" "1", "dis" "CF", "pred" "1", "dsmoke" "1", "rage" "1", "type" "1", "cent" "Harefield", "dcmv" "1", "chol" "1", "tlc" "1"}, :result [{:post-transplant 15.976590614483055, :residual 84.02340938551694, :year 1} {:post-transplant 27.477057320435062, :residual 72.52294267956493, :year 3} {:post-transplant 36.60957595127607, :residual 63.39042404872393, :year 5}]}
 {:organ "lung", :tool "post-transplant", :clj-inputs {:tage :rage_grp_1, :type :t1, :tlc-mismatch :tlc_mis_1, :donor-cmv :negative, :cholesterol :chol_grp_1, :fvcreg :fvc_grp_1, :donor-smokes :no, :dd-pred :pred-15+, :bilirubin :bili_grp_1, :d-gp :cf}, :r-inputs {"fvc" "1", "bili" "1", "dis" "CF", "pred" "15", "dsmoke" "1", "rage" "1", "type" "1", "cent" "Harefield", "dcmv" "1", "chol" "1", "tlc" "1"}, :result [{:post-transplant 19.41875002151975, :residual 80.58124997848026, :year 1} {:post-transplant 32.86511812151508, :residual 67.13488187848492, :year 3} {:post-transplant 43.186604163916776, :residual 56.813395836083224, :year 5}]}
 {:organ "lung", :tool "post-transplant", :clj-inputs {:tage :rage_grp_1, :type :t1, :tlc-mismatch :tlc_mis_1, :donor-cmv :negative, :cholesterol :chol_grp_1, :fvcreg :fvc_grp_2, :donor-smokes :no, :dd-pred :pred-0, :bilirubin :bili_grp_1, :d-gp :cf}, :r-inputs {"fvc" "2", "bili" "1", "dis" "CF", "pred" "0", "dsmoke" "1", "rage" "1", "type" "1", "cent" "Harefield", "dcmv" "1", "chol" "1", "tlc" "1"}, :result [{:post-transplant 11.131340027790415, :residual 88.86865997220958, :year 1} {:post-transplant 19.571127141545695, :residual 80.4288728584543, :year 3} {:post-transplant 26.58484311584105, :residual 73.41515688415895, :year 5}]}
 {:organ "lung", :tool "post-transplant", :clj-inputs {:tage :rage_grp_1, :type :t1, :tlc-mismatch :tlc_mis_1, :donor-cmv :negative, :cholesterol :chol_grp_1, :fvcreg :fvc_grp_3, :donor-smokes :no, :dd-pred :pred-0, :bilirubin :bili_grp_1, :d-gp :cf}, :r-inputs {"fvc" "3", "bili" "1", "dis" "CF", "pred" "0", "dsmoke" "1", "rage" "1", "type" "1", "cent" "Harefield", "dcmv" "1", "chol" "1", "tlc" "1"}, :result [{:post-transplant 11.26644558295622, :residual 88.73355441704378, :year 1} {:post-transplant 19.796648645478708, :residual 80.20335135452129, :year 3} {:post-transplant 26.87676656398694, :residual 73.12323343601305, :year 5}]}
 {:organ "lung", :tool "post-transplant", :clj-inputs {:tage :rage_grp_1, :type :t1, :tlc-mismatch :tlc_mis_1, :donor-cmv :negative, :cholesterol :chol_grp_1, :fvcreg :fvc_grp_4, :donor-smokes :no, :dd-pred :pred-0, :bilirubin :bili_grp_1, :d-gp :cf}, :r-inputs {"fvc" "4", "bili" "1", "dis" "CF", "pred" "0", "dsmoke" "1", "rage" "1", "type" "1", "cent" "Harefield", "dcmv" "1", "chol" "1", "tlc" "1"}, :result [{:post-transplant 8.792054724448672, :residual 91.20794527555132, :year 1} {:post-transplant 15.620397415313025, :residual 84.37960258468698, :year 3} {:post-transplant 21.415705842935605, :residual 78.58429415706439, :year 5}]}
 {:organ "lung", :tool "post-transplant", :clj-inputs {:tage :rage_grp_1, :type :t1, :tlc-mismatch :tlc_mis_1, :donor-cmv :negative, :cholesterol :chol_grp_1, :fvcreg :fvc_grp_1, :donor-smokes :no, :dd-pred :pred-0, :bilirubin :bili_grp_2, :d-gp :cf}, :r-inputs {"fvc" "1", "bili" "2", "dis" "CF", "pred" "0", "dsmoke" "1", "rage" "1", "type" "1", "cent" "Harefield", "dcmv" "1", "chol" "1", "tlc" "1"}, :result [{:post-transplant 11.19137435690899, :residual 88.808625643091, :year 1} {:post-transplant 19.67137373193011, :residual 80.3286262680699, :year 3} {:post-transplant 26.714648437426536, :residual 73.28535156257347, :year 5}]}
 {:organ "lung", :tool "post-transplant", :clj-inputs {:tage :rage_grp_1, :type :t1, :tlc-mismatch :tlc_mis_1, :donor-cmv :negative, :cholesterol :chol_grp_1, :fvcreg :fvc_grp_1, :donor-smokes :no, :dd-pred :pred-0, :bilirubin :bili_grp_3, :d-gp :cf}, :r-inputs {"fvc" "1", "bili" "3", "dis" "CF", "pred" "0", "dsmoke" "1", "rage" "1", "type" "1", "cent" "Harefield", "dcmv" "1", "chol" "1", "tlc" "1"}, :result [{:post-transplant 12.244680427808063, :residual 87.75531957219194, :year 1} {:post-transplant 21.420881554618234, :residual 78.57911844538177, :year 3} {:post-transplant 28.96904858588616, :residual 71.03095141411384, :year 5}]}
 {:organ "lung", :tool "post-transplant", :clj-inputs {:tage :rage_grp_1, :type :t1, :tlc-mismatch :tlc_mis_1, :donor-cmv :negative, :cholesterol :chol_grp_1, :fvcreg :fvc_grp_1, :donor-smokes :no, :dd-pred :pred-0, :bilirubin :bili_grp_4, :d-gp :cf}, :r-inputs {"fvc" "1", "bili" "4", "dis" "CF", "pred" "0", "dsmoke" "1", "rage" "1", "type" "1", "cent" "Harefield", "dcmv" "1", "chol" "1", "tlc" "1"}, :result [{:post-transplant 13.565545341655527, :residual 86.43445465834448, :year 1} {:post-transplant 23.589824249701884, :residual 76.41017575029811, :year 3} {:post-transplant 31.734838647289543, :residual 68.26516135271046, :year 5}]}
 {:organ "lung", :tool "post-transplant", :clj-inputs {:tage :rage_grp_1, :type :t1, :tlc-mismatch :tlc_mis_1, :donor-cmv :negative, :cholesterol :chol_grp_2, :fvcreg :fvc_grp_1, :donor-smokes :no, :dd-pred :pred-0, :bilirubin :bili_grp_1, :d-gp :cf}, :r-inputs {"fvc" "1", "bili" "1", "dis" "CF", "pred" "0", "dsmoke" "1", "rage" "1", "type" "1", "cent" "Harefield", "dcmv" "1", "chol" "2", "tlc" "1"}, :result [{:post-transplant 10.934771567192513, :residual 89.06522843280749, :year 1} {:post-transplant 19.242492195422244, :residual 80.75750780457776, :year 3} {:post-transplant 26.158831623581403, :residual 73.8411683764186, :year 5}]}
 {:organ "lung", :tool "post-transplant", :clj-inputs {:tage :rage_grp_1, :type :t1, :tlc-mismatch :tlc_mis_1, :donor-cmv :negative, :cholesterol :chol_grp_3, :fvcreg :fvc_grp_1, :donor-smokes :no, :dd-pred :pred-0, :bilirubin :bili_grp_1, :d-gp :cf}, :r-inputs {"fvc" "1", "bili" "1", "dis" "CF", "pred" "0", "dsmoke" "1", "rage" "1", "type" "1", "cent" "Harefield", "dcmv" "1", "chol" "3", "tlc" "1"}, :result [{:post-transplant 12.365933353254356, :residual 87.63406664674565, :year 1} {:post-transplant 21.6211455100907, :residual 78.3788544899093, :year 3} {:post-transplant 29.225776927174085, :residual 70.77422307282592, :year 5}]}
 {:organ "lung", :tool "post-transplant", :clj-inputs {:tage :rage_grp_1, :type :t1, :tlc-mismatch :tlc_mis_1, :donor-cmv :negative, :cholesterol :chol_grp_4, :fvcreg :fvc_grp_1, :donor-smokes :no, :dd-pred :pred-0, :bilirubin :bili_grp_1, :d-gp :cf}, :r-inputs {"fvc" "1", "bili" "1", "dis" "CF", "pred" "0", "dsmoke" "1", "rage" "1", "type" "1", "cent" "Harefield", "dcmv" "1", "chol" "4", "tlc" "1"}, :result [{:post-transplant 6.392600332131759, :residual 93.60739966786824, :year 1} {:post-transplant 11.478061784904646, :residual 88.52193821509535, :year 3} {:post-transplant 15.885924123290284, :residual 84.11407587670972, :year 5}]}
 {:organ "lung", :tool "post-transplant", :clj-inputs {:tage :rage_grp_1, :type :t2, :tlc-mismatch :tlc_mis_1, :donor-cmv :negative, :cholesterol :chol_grp_1, :fvcreg :fvc_grp_1, :donor-smokes :no, :dd-pred :pred-0, :bilirubin :bili_grp_1, :d-gp :cf}, :r-inputs {"fvc" "1", "bili" "1", "dis" "CF", "pred" "0", "dsmoke" "1", "rage" "1", "type" "2", "cent" "Harefield", "dcmv" "1", "chol" "1", "tlc" "1"}, :result [{:post-transplant 11.838769221046597, :residual 88.16123077895341, :year 1} {:post-transplant 20.74876642742465, :residual 79.25123357257536, :year 3} {:post-transplant 28.105428286928603, :residual 71.8945717130714, :year 5}]}
 {:organ "lung", :tool "post-transplant", :clj-inputs {:tage :rage_grp_1, :type :t1, :tlc-mismatch :tlc_mis_1, :donor-cmv :negative, :cholesterol :chol_grp_1, :fvcreg :fvc_grp_1, :donor-smokes :yes, :dd-pred :pred-0, :bilirubin :bili_grp_1, :d-gp :cf}, :r-inputs {"fvc" "1", "bili" "1", "dis" "CF", "pred" "0", "dsmoke" "2", "rage" "1", "type" "1", "cent" "Harefield", "dcmv" "1", "chol" "1", "tlc" "1"}, :result [{:post-transplant 15.577621301368549, :residual 84.42237869863145, :year 1} {:post-transplant 26.840238286636165, :residual 73.15976171336384, :year 3} {:post-transplant 35.81830802312089, :residual 64.18169197687911, :year 5}]}
 {:organ "lung", :tool "post-transplant", :clj-inputs {:tage :rage_grp_1, :type :t1, :tlc-mismatch :tlc_mis_2, :donor-cmv :negative, :cholesterol :chol_grp_1, :fvcreg :fvc_grp_1, :donor-smokes :no, :dd-pred :pred-0, :bilirubin :bili_grp_1, :d-gp :cf}, :r-inputs {"fvc" "1", "bili" "1", "dis" "CF", "pred" "0", "dsmoke" "1", "rage" "1", "type" "1", "cent" "Harefield", "dcmv" "1", "chol" "1", "tlc" "2"}, :result [{:post-transplant 14.313806372076865, :residual 85.68619362792313, :year 1} {:post-transplant 24.806164064477443, :residual 75.19383593552256, :year 3} {:post-transplant 33.27161391569934, :residual 66.72838608430067, :year 5}]}
 {:organ "lung", :tool "post-transplant", :clj-inputs {:tage :rage_grp_1, :type :t1, :tlc-mismatch :tlc_mis_3, :donor-cmv :negative, :cholesterol :chol_grp_1, :fvcreg :fvc_grp_1, :donor-smokes :no, :dd-pred :pred-0, :bilirubin :bili_grp_1, :d-gp :cf}, :r-inputs {"fvc" "1", "bili" "1", "dis" "CF", "pred" "0", "dsmoke" "1", "rage" "1", "type" "1", "cent" "Harefield", "dcmv" "1", "chol" "1", "tlc" "3"}, :result [{:post-transplant 14.219055090540467, :residual 85.78094490945954, :year 1} {:post-transplant 24.652635171163784, :residual 75.34736482883622, :year 3} {:post-transplant 33.07820936215272, :residual 66.92179063784728, :year 5}]}
 {:organ "lung", :tool "post-transplant", :clj-inputs {:tage :rage_grp_1, :type :t1, :tlc-mismatch :tlc_mis_1, :donor-cmv :positive, :cholesterol :chol_grp_1, :fvcreg :fvc_grp_1, :donor-smokes :no, :dd-pred :pred-0, :bilirubin :bili_grp_1, :d-gp :cf}, :r-inputs {"fvc" "1", "bili" "1", "dis" "CF", "pred" "0", "dsmoke" "1", "rage" "1", "type" "1", "cent" "Harefield", "dcmv" "2", "chol" "1", "tlc" "1"}, :result [{:post-transplant 16.254451864500364, :residual 83.74554813549963, :year 1} {:post-transplant 27.9190611499875, :residual 72.0809388500125, :year 3} {:post-transplant 37.15707250580236, :residual 62.84292749419764, :year 5}]}]