
/out/
/resources/public/js/compiled/
resources/public/kidney
resources/public/lung
/target/
/*-init.clj
/*.log
resources/public/js-old
resources/public/cljs-out-old
# Leiningen
/.lein-*
/.nrepl-port

# Node.js dependencies
/node_modules/

# shadow-cljs cache, port files
/.shadow-cljs/

/dist
/dist/*
.cache/
resources/public/js
resources/public/cljs-out
.DS_Store
*/.DS_Store

# WIP - not ready for the public
doc/UI inputs.md
.calva/.cache
.calva/output-window/*
~*
nashorn_code_cache/*
.cljs_nashorn*/*

# experimental
src/cljs/eric.*
resources/public/report.html
resources/public/lung
resources/public/kidney
resources/public-lung
.cpcache/

.rebel_readline_history
.idea/
transplants.iml
dev.cljs.edn
prod.cljs.edn

report.html
.lsp
.Rproj.user
.Rhistory
.RData
resources/r_model_tests/kidney/graft/surv.html
**/test-configuration.*
edn-paths-lung.txt
edn-paths-kidney.txt
resources/public/index.html
resources/public/metadata.edn
resources/public/sw_cache_update.js
bbsrc/etaoin.clj
resources/public/manifest.json
resources/public/metadata.txt
resources/precache_paths_kidney.edn
resources/precache_paths_lung.edn
nbb/playwright_tests.cljs
resources/NHSBT-ref/kidney/Baselines wlist kid.xlsx
resources/NHSBT-ref/kidney/kid post-tx dd graft surv.R
resources/NHSBT-ref/kidney/kid post-tx dd patient surv.R
resources/NHSBT-ref/kidney/kid post-tx LD graft surv.R
resources/NHSBT-ref/kidney/kid post-tx LD patient surv.R
resources/NHSBT-ref/kidney/kid wlist analysis adjusted.R
resources/NHSBT-ref/kidney/kid wlist analysis.R
resources/NHSBT-ref/kidney/kid_waitlist_params.csv
resources/NHSBT-ref/kidney/kid_wlist.csv
resources/NHSBT-ref/kidney/kidney dd post tx graft params.csv
resources/NHSBT-ref/kidney/kidney dd post tx graft surv.csv
resources/NHSBT-ref/kidney/kidney dd post tx patient params.csv
resources/NHSBT-ref/kidney/kidney dd post tx patient surv.csv
resources/NHSBT-ref/kidney/kidney LD post tx graft params.csv
resources/NHSBT-ref/kidney/kidney LD post tx graft surv.csv
resources/NHSBT-ref/kidney/kidney LD post tx patient params.csv
resources/NHSBT-ref/kidney/kidney LD post tx patient surv.csv
resources/NHSBT-ref/kidney/kidney.Rproj
resources/NHSBT-ref/kidney/Living donor post transplant outcomes March 2021.xlsx
resources/NHSBT-ref/lung/Baseline post-tx info - categorical.xlsx
resources/NHSBT-ref/lung/Baseline wlist info - categorical.xlsx
resources/NHSBT-ref/lung/Lung post-tx - categorical.R
resources/NHSBT-ref/lung/Lung post-tx - daily - categorical.xlsx
resources/NHSBT-ref/lung/Lung post-tx param.csv
resources/NHSBT-ref/lung/Lung post-tx surv.csv
resources/NHSBT-ref/lung/Lung waiting list - daily - categorical.xlsx
resources/NHSBT-ref/lung/Lung wlist analysis - categorical.R
resources/NHSBT-ref/lung/lung wlist surv - categorical.csv
resources/NHSBT-ref/lung/wlist param - categorical.csv
resources/r_model_tests/kidney/waiting/results_1.csv
resources/r_model_tests/kidney/waiting/results_2.csv
resources/r_model_tests/kidney/waiting/results_3.csv
resources/r_model_tests/kidney/waiting/results_4.csv
resources/r_model_tests/kidney/waiting/results_5.csv
resources/r_model_tests/kidney/waiting/results_6.csv
resources/r_model_tests/kidney/waiting/results_7.csv
resources/r_model_tests/kidney/waiting/results_8.csv
resources/r_model_tests/kidney/waiting/results_9.csv
resources/r_model_tests/kidney/waiting/results_10.csv
resources/r_model_tests/kidney/waiting/results_11.csv
resources/r_model_tests/kidney/waiting/results_12.csv
resources/r_model_tests/kidney/waiting/results_13.csv
resources/r_model_tests/kidney/waiting/results_14.csv
resources/r_model_tests/kidney/waiting/results_15.csv
resources/r_model_tests/kidney/waiting/results_16.csv
resources/r_model_tests/kidney/waiting/results_17.csv
resources/r_model_tests/kidney/waiting/tests.csv
tests.csv
