^{:auto-testing true}
{:main transplants.core
 :target :bundle
 :cljs-devtools true
 #_#_:closure-defines {"re_frame.trace.trace_enabled_QMARK_" true}
 :closure-defines {re-frame.trace.trace-enabled? true
                   day8.re-frame.tracing.trace-enabled? true}
 :preloads             [day8.re-frame-10x.preload
                        devtools.preload]
 :bundle-cmd {:none ["npx" "webpack" "--mode=development" :output-to "-o" :final-output-to]}}