{:main transplants.core,
 :target :bundle,
 :cljs-devtools true,
 :closure-defines {"re_frame.trace.trace_enabled_QMARK_" false},
 :bundle-cmd
 {:none
  ["npx"
   "webpack"
   "--mode=development"
   :output-to
   "-o"
   :final-output-to]}}
