;^{:open-url "http://[[server-hostname]]:[[server-port]]/.html"}
{:main transplants.core
 :target :bundle
 :cljs-devtools false
 :closure-defines {cljs.core/*global* "window"}
 :bundle-cmd {:none ["npx" "webpack" "--mode=development" :output-to "-o" :final-output-to]
              :default ["npx" "webpack" "--mode=production" :output-to "-o" :final-output-to]}}