;;
;; These values are copy pasted from the site using a 'test' url like http://localhost:3000/#/kidney/birm/waiting/test/A2SmBoDyEaMdGfdysn
;;
[{:organ "kidney", :tool "ldsurvival", :clj-inputs {:age :18+, :diabetes :yes, :months-waiting :mw-<=6, :hla-mismatch :1}, :r-inputs {"cent" "Birmingham", "rage" "1", "diabetes" "0", "wait" "1", "hla" "1"}, :result [{:ldsurvival 0.4447669884012351, :residual 99.55523301159876, :year 1} {:ldsurvival 0.970691450618566, :residual 99.02930854938144, :year 3} {:ldsurvival 1.825901359604576, :residual 98.17409864039543, :year 5}]}
 {:organ "kidney", :tool "ldsurvival", :clj-inputs {:age :30+, :diabetes :yes, :months-waiting :mw-<=6, :hla-mismatch :1}, :r-inputs {"cent" "Birmingham", "rage" "2", "diabetes" "0", "wait" "1", "hla" "1"}, :result [{:ldsurvival 0.5251201674668637, :residual 99.47487983253313, :year 1} {:ldsurvival 1.1455117621556155, :residual 98.85448823784438, :year 3} {:ldsurvival 2.153060566014675, :residual 97.84693943398533, :year 5}]}
 {:organ "kidney", :tool "ldsurvival", :clj-inputs {:age :40+, :diabetes :yes, :months-waiting :mw-<=6, :hla-mismatch :1}, :r-inputs {"cent" "Birmingham", "rage" "3", "diabetes" "0", "wait" "1", "hla" "1"}, :result [{:ldsurvival 1.1049090925844163, :residual 98.89509090741558, :year 1} {:ldsurvival 2.4019594021856716, :residual 97.59804059781433, :year 3} {:ldsurvival 4.48925025243716, :residual 95.51074974756284, :year 5}]}
 {:organ "kidney", :tool "ldsurvival", :clj-inputs {:age :50+, :diabetes :yes, :months-waiting :mw-<=6, :hla-mismatch :1}, :r-inputs {"cent" "Birmingham", "rage" "4", "diabetes" "0", "wait" "1", "hla" "1"}, :result [{:ldsurvival 1.4187091000267937, :residual 98.58129089997321, :year 1} {:ldsurvival 3.078349816156245, :residual 96.92165018384375, :year 3} {:ldsurvival 5.735896223794779, :residual 94.26410377620522, :year 5}]}
 {:organ "kidney", :tool "ldsurvival", :clj-inputs {:age :60+, :diabetes :yes, :months-waiting :mw-<=6, :hla-mismatch :1}, :r-inputs {"cent" "Birmingham", "rage" "5", "diabetes" "0", "wait" "1", "hla" "1"}, :result [{:ldsurvival 3.3466565271525472, :residual 96.65334347284745, :year 1} {:ldsurvival 7.178025562617663, :residual 92.82197443738234, :year 3} {:ldsurvival 13.126704784800069, :residual 86.87329521519993, :year 5}]}
 {:organ "kidney", :tool "ldsurvival", :clj-inputs {:age :18+, :diabetes :pckd, :months-waiting :mw-<=6, :hla-mismatch :1}, :r-inputs {"cent" "Birmingham", "rage" "1", "diabetes" "1", "wait" "1", "hla" "1"}, :result [{:ldsurvival 0.8364457064134911, :residual 99.16355429358651, :year 1} {:ldsurvival 1.82126331795468, :residual 98.17873668204533, :year 3} {:ldsurvival 3.412829132095707, :residual 96.58717086790429, :year 5}]}
 {:organ "kidney", :tool "ldsurvival", :clj-inputs {:age :18+, :diabetes :yes, :months-waiting :mw-<=12, :hla-mismatch :1}, :r-inputs {"cent" "Birmingham", "rage" "1", "diabetes" "0", "wait" "2", "hla" "1"}, :result [{:ldsurvival 0.5402387636039951, :residual 99.459761236396, :year 1} {:ldsurvival 1.1783857725260471, :residual 98.82161422747396, :year 3} {:ldsurvival 2.2145236605229157, :residual 97.78547633947709, :year 5}]}
 {:organ "kidney", :tool "ldsurvival", :clj-inputs {:age :18+, :diabetes :yes, :months-waiting :mw-<=24, :hla-mismatch :1}, :r-inputs {"cent" "Birmingham", "rage" "1", "diabetes" "0", "wait" "3", "hla" "1"}, :result [{:ldsurvival 0.6200438689430765, :residual 99.37995613105693, :year 1} {:ldsurvival 1.3518163226019286, :residual 98.64818367739807, :year 3} {:ldsurvival 2.5384782184449173, :residual 97.46152178155508, :year 5}]}
 {:organ "kidney", :tool "ldsurvival", :clj-inputs {:age :18+, :diabetes :yes, :months-waiting :mw-24+, :hla-mismatch :1}, :r-inputs {"cent" "Birmingham", "rage" "1", "diabetes" "0", "wait" "4", "hla" "1"}, :result [{:ldsurvival 0.9162868478536979, :residual 99.0837131521463, :year 1} {:ldsurvival 1.994158055428441, :residual 98.00584194457156, :year 3} {:ldsurvival 3.73391315477557, :residual 96.26608684522444, :year 5}]}
 {:organ "kidney", :tool "ldsurvival", :clj-inputs {:age :18+, :diabetes :yes, :months-waiting :mw-<=6, :hla-mismatch :2}, :r-inputs {"cent" "Birmingham", "rage" "1", "diabetes" "0", "wait" "1", "hla" "2"}, :result [{:ldsurvival 0.3932395874772232, :residual 99.60676041252277, :year 1} {:ldsurvival 0.858497641687328, :residual 99.14150235831268, :year 3} {:ldsurvival 1.615670796887414, :residual 98.38432920311259, :year 5}]}
 {:organ "kidney", :tool "ldsurvival", :clj-inputs {:age :18+, :diabetes :yes, :months-waiting :mw-<=6, :hla-mismatch :3}, :r-inputs {"cent" "Birmingham", "rage" "1", "diabetes" "0", "wait" "1", "hla" "3"}, :result [{:ldsurvival 0.36326021907687744, :residual 99.63673978092312, :year 1} {:ldsurvival 0.7931899575031154, :residual 99.20681004249688, :year 3} {:ldsurvival 1.4931987482168618, :residual 98.50680125178314, :year 5}]}]
