;;
;; I had to rename the R parameter "in" to "inhosp" here because "in" is a reserved word in R.
;; The app test view still generates "in", so this still needs sorting out.  :todo
;;
[{:organ "lung", :tool "waiting", :clj-inputs {:rage :rage_1, :sex :male, :blood-group :O, :in-hosp :no, :fvc :fvc_1, :bmi :bmi_1, :dd-pred :pred-0, :thoracotomy :no, :nyha-class :nyha-1, :d-gp :cf}, :r-inputs {"bld" "1", "inhosp" "1", "fvc" "1", "bmi" "1", "dis" "CF", "pred" "0", "prev" "1", "rage" "1", "cent" "Harefield", "nyha" "1", "sex" "1"}, :result [{:death 29.349620865522553, :residual 35.03075294288658, :transplant 35.619626191590875, :year 1} {:death 44.70157099824221, :residual 12.523699128730248, :transplant 42.77472987302754, :year 2} {:death 49.77848472934459, :residual 4.677997172183224, :transplant 45.54351809847218, :year 3}]}
 {:organ "lung", :tool "waiting", :clj-inputs {:rage :rage_2, :sex :male, :blood-group :O, :in-hosp :no, :fvc :fvc_1, :bmi :bmi_1, :dd-pred :pred-0, :thoracotomy :no, :nyha-class :nyha-1, :d-gp :cf}, :r-inputs {"bld" "1", "inhosp" "1", "fvc" "1", "bmi" "1", "dis" "CF", "pred" "0", "prev" "1", "rage" "2", "cent" "Harefield", "nyha" "1", "sex" "1"}, :result [{:death 29.991829594730206, :residual 33.05874717425068, :transplant 36.94942323101911, :year 1} {:death 44.86536425733615, :residual 11.185943865845616, :transplant 43.94869187681824, :year 2} {:death 49.53151455654595, :residual 3.960430868567366, :transplant 46.50805457488668, :year 3}]}
 {:organ "lung", :tool "waiting", :clj-inputs {:rage :rage_3, :sex :male, :blood-group :O, :in-hosp :no, :fvc :fvc_1, :bmi :bmi_1, :dd-pred :pred-0, :thoracotomy :no, :nyha-class :nyha-1, :d-gp :cf}, :r-inputs {"bld" "1", "inhosp" "1", "fvc" "1", "bmi" "1", "dis" "CF", "pred" "0", "prev" "1", "rage" "3", "cent" "Harefield", "nyha" "1", "sex" "1"}, :result [{:death 27.302988075762123, :residual 34.56915271351815, :transplant 38.12785921071972, :year 1} {:death 41.6325265221264, :residual 12.568049268199232, :transplant 45.79942420967436, :year 2} {:death 46.445636914159216, :residual 4.7349226744777155, :transplant 48.81944041136307, :year 3}]}
 {:organ "lung", :tool "waiting", :clj-inputs {:rage :rage_4, :sex :male, :blood-group :O, :in-hosp :no, :fvc :fvc_1, :bmi :bmi_1, :dd-pred :pred-0, :thoracotomy :no, :nyha-class :nyha-1, :d-gp :cf}, :r-inputs {"bld" "1", "inhosp" "1", "fvc" "1", "bmi" "1", "dis" "CF", "pred" "0", "prev" "1", "rage" "4", "cent" "Harefield", "nyha" "1", "sex" "1"}, :result [{:death 39.49744250118041, :residual 25.16376355248188, :transplant 35.33879394633772, :year 1} {:death 53.9377389645473, :residual 5.904045127474089, :transplant 40.15821590797861, :year 2} {:death 57.12797969933278, :residual 1.5035265878649673, :transplant 41.36849371280225, :year 3}]}
 {:organ "lung", :tool "waiting", :clj-inputs {:rage :rage_5, :sex :male, :blood-group :O, :in-hosp :no, :fvc :fvc_1, :bmi :bmi_1, :dd-pred :pred-0, :thoracotomy :no, :nyha-class :nyha-1, :d-gp :cf}, :r-inputs {"bld" "1", "inhosp" "1", "fvc" "1", "bmi" "1", "dis" "CF", "pred" "0", "prev" "1", "rage" "5", "cent" "Harefield", "nyha" "1", "sex" "1"}, :result [{:death 34.626554639407395, :residual 25.171801931653626, :transplant 40.201643428938986, :year 1} {:death 47.76127407884051, :residual 6.35532521822012, :transplant 45.88340070293937, :year 2} {:death 50.8724137475642, :residual 1.706151071847728, :transplant 47.42143518058806, :year 3}]}
 {:organ "lung", :tool "waiting", :clj-inputs {:rage :rage_1, :sex :female, :blood-group :O, :in-hosp :no, :fvc :fvc_1, :bmi :bmi_1, :dd-pred :pred-0, :thoracotomy :no, :nyha-class :nyha-1, :d-gp :cf}, :r-inputs {"bld" "1", "inhosp" "1", "fvc" "1", "bmi" "1", "dis" "CF", "pred" "0", "prev" "1", "rage" "1", "cent" "Harefield", "nyha" "1", "sex" "2"}, :result [{:death 20.60250284890372, :residual 51.498473922782175, :transplant 27.899023228314114, :year 1} {:death 36.245430183102826, :residual 27.433110494056855, :transplant 36.32145932284032, :year 2} {:death 43.80561420787468, :residual 14.957130543863762, :transplant 41.23725524826155, :year 3}]}
 {:organ "lung", :tool "waiting", :clj-inputs {:rage :rage_1, :sex :male, :blood-group :A, :in-hosp :no, :fvc :fvc_1, :bmi :bmi_1, :dd-pred :pred-0, :thoracotomy :no, :nyha-class :nyha-1, :d-gp :cf}, :r-inputs {"bld" "2", "inhosp" "1", "fvc" "1", "bmi" "1", "dis" "CF", "pred" "0", "prev" "1", "rage" "1", "cent" "Harefield", "nyha" "1", "sex" "1"}, :result [{:death 24.762453075970413, :residual 20.716679054590415, :transplant 54.52086786943917, :year 1} {:death 33.359808416057504, :residual 5.216061705415798, :transplant 61.4241298785267, :year 2} {:death 35.384318699439426, :residual 1.3295262345611958, :transplant 63.28615506599938, :year 3}]}
 {:organ "lung", :tool "waiting", :clj-inputs {:rage :rage_1, :sex :male, :blood-group :B, :in-hosp :no, :fvc :fvc_1, :bmi :bmi_1, :dd-pred :pred-0, :thoracotomy :no, :nyha-class :nyha-1, :d-gp :cf}, :r-inputs {"bld" "3", "inhosp" "1", "fvc" "1", "bmi" "1", "dis" "CF", "pred" "0", "prev" "1", "rage" "1", "cent" "Harefield", "nyha" "1", "sex" "1"}, :result [{:death 30.81956853895505, :residual 31.786031934501157, :transplant 37.3943995265438, :year 1} {:death 45.51662788772835, :residual 10.301585857382145, :transplant 44.181786254889516, :year 2} {:death 49.94115989341224, :residual 3.502752505170448, :transplant 46.5560876014173, :year 3}]}
{:organ "lung", :tool "waiting", :clj-inputs {:rage :rage_1, :sex :male, :blood-group :AB, :in-hosp :no, :fvc :fvc_1, :bmi :bmi_1, :dd-pred :pred-0, :thoracotomy :no, :nyha-class :nyha-1, :d-gp :cf}, :r-inputs {"bld" "4", "inhosp" "1", "fvc" "1", "bmi" "1", "dis" "CF", "pred" "0", "prev" "1", "rage" "1", "cent" "Harefield", "nyha" "1", "sex" "1"}, :result [{:death 19.9842186248301, :residual 17.1530731860159, :transplant 62.862708189154006, :year 1} {:death 26.148427813865055, :residual 4.056666016520727, :transplant 69.79490616961421, :year 2} {:death 27.511763028616475, :residual 0.9409914074310355, :transplant 71.54724556395249, :year 3}]}
{:organ "lung", :tool "waiting", :clj-inputs {:rage :rage_1, :sex :male, :blood-group :O, :in-hosp :no, :fvc :fvc_1, :bmi :bmi_1, :dd-pred :pred-0, :thoracotomy :no, :nyha-class :nyha-1, :d-gp :other}, :r-inputs {"bld" "1", "inhosp" "1", "fvc" "1", "bmi" "1", "dis" "Other", "pred" "0", "prev" "1", "rage" "1", "cent" "Harefield", "nyha" "1", "sex" "1"}, :result [{:death 24.410181211528155, :residual 44.21728342725426, :transplant 31.372535361217587, :year 1} {:death 40.41380955846075, :residual 20.14670260482313, :transplant 39.43948783671612, :year 2} {:death 47.08248616485381, :residual 9.470535097247367, :transplant 43.446978737898824, :year 3}]}
{:organ "lung", :tool "waiting", :clj-inputs {:rage :rage_1, :sex :male, :blood-group :O, :in-hosp :no, :fvc :fvc_1, :bmi :bmi_1, :dd-pred :pred-0, :thoracotomy :no, :nyha-class :nyha-1, :d-gp :pf}, :r-inputs {"bld" "1", "inhosp" "1", "fvc" "1", "bmi" "1", "dis" "PF", "pred" "0", "prev" "1", "rage" "1", "cent" "Harefield", "nyha" "1", "sex" "1"}, :result [{:death 36.89782187342626, :residual 32.25545467699709, :transplant 30.846723449576665, :year 1} {:death 53.96595371096946, :residual 9.74123556344657, :transplant 36.292810725583976, :year 2} {:death 58.77421642574818, :residual 3.1608032624992677, :transplant 38.06498031175255, :year 3}]}
{:organ "lung", :tool "waiting", :clj-inputs {:rage :rage_1, :sex :male, :blood-group :O, :in-hosp :no, :fvc :fvc_1, :bmi :bmi_1, :dd-pred :pred-0, :thoracotomy :no, :nyha-class :nyha-1, :d-gp :copd}, :r-inputs {"bld" "1", "inhosp" "1", "fvc" "1", "bmi" "1", "dis" "COPD", "pred" "0", "prev" "1", "rage" "1", "cent" "Harefield", "nyha" "1", "sex" "1"}, :result [{:death 14.149402685879654, :residual 38.314151035281554, :transplant 47.5364462788388, :year 1} {:death 23.028816586841693, :residual 17.91879541879522, :transplant 59.05238799436309, :year 2} {:death 26.80974644637097, :residual 8.268147305658658, :transplant 64.92210624797038, :year 3}]}
{:organ "lung", :tool "waiting", :clj-inputs {:rage :rage_1, :sex :male, :blood-group :O, :in-hosp :yes, :fvc :fvc_1, :bmi :bmi_1, :dd-pred :pred-0, :thoracotomy :no, :nyha-class :nyha-1, :d-gp :cf}, :r-inputs {"bld" "1", "inhosp" "2", "fvc" "1", "bmi" "1", "dis" "CF", "pred" "0", "prev" "1", "rage" "1", "cent" "Harefield", "nyha" "1", "sex" "1"}, :result [{:death 49.82284052128395, :residual 15.27109909301262, :transplant 34.90606038570343, :year 1} {:death 60.5256190178337, :residual 1.893572732962645, :transplant 37.58080824920366, :year 2} {:death 61.80030537813146, :residual 0.2684646896571996, :transplant 37.93122993221134, :year 3}]}
{:organ "lung", :tool "waiting", :clj-inputs {:rage :rage_1, :sex :male, :blood-group :O, :in-hosp :no, :fvc :fvc_1, :bmi :bmi_1, :dd-pred :pred-0, :thoracotomy :no, :nyha-class :nyha-2, :d-gp :cf}, :r-inputs {"bld" "1", "inhosp" "1", "fvc" "1", "bmi" "1", "dis" "CF", "pred" "0", "prev" "1", "rage" "1", "cent" "Harefield", "nyha" "2", "sex" "1"}, :result [{:death 29.349620865522553, :residual 35.03075294288658, :transplant 35.619626191590875, :year 1} {:death 44.70157099824221, :residual 12.523699128730248, :transplant 42.77472987302754, :year 2} {:death 49.77848472934459, :residual 4.677997172183224, :transplant 45.54351809847218, :year 3}]}
{:organ "lung", :tool "waiting", :clj-inputs {:rage :rage_1, :sex :male, :blood-group :O, :in-hosp :no, :fvc :fvc_1, :bmi :bmi_1, :dd-pred :pred-0, :thoracotomy :no, :nyha-class :nyha-3, :d-gp :cf}, :r-inputs {"bld" "1", "inhosp" "1", "fvc" "1", "bmi" "1", "dis" "CF", "pred" "0", "prev" "1", "rage" "1", "cent" "Harefield", "nyha" "3", "sex" "1"}, :result [{:death 29.56501240620889, :residual 40.6129923394697, :transplant 29.821995254321408, :year 1} {:death 47.03561239037446, :residual 16.27906116213371, :transplant 36.685326447491825, :year 2} {:death 53.483879143231974, :residual 6.842435411924619, :transplant 39.673685444843414, :year 3}]}
{:organ "lung", :tool "waiting", :clj-inputs {:rage :rage_1, :sex :male, :blood-group :O, :in-hosp :no, :fvc :fvc_1, :bmi :bmi_1, :dd-pred :pred-0, :thoracotomy :no, :nyha-class :nyha-4, :d-gp :cf}, :r-inputs {"bld" "1", "inhosp" "1", "fvc" "1", "bmi" "1", "dis" "CF", "pred" "0", "prev" "1", "rage" "1", "cent" "Harefield", "nyha" "4", "sex" "1"}, :result [{:death 51.764835728277404, :residual 26.173292104632083, :transplant 22.061872167090517, :year 1} {:death 69.72922852222098, :residual 5.334219056505973, :transplant 24.936552421273046, :year 2} {:death 73.20115560975651, :residual 1.2373509878009337, :transplant 25.561493402442544, :year 3}]}
{:organ "lung", :tool "waiting", :clj-inputs {:rage :rage_1, :sex :male, :blood-group :O, :in-hosp :no, :fvc :fvc_1, :bmi :bmi_1, :dd-pred :pred-1-14, :thoracotomy :no, :nyha-class :nyha-1, :d-gp :cf}, :r-inputs {"bld" "1", "inhosp" "1", "fvc" "1", "bmi" "1", "dis" "CF", "pred" "1", "prev" "1", "rage" "1", "cent" "Harefield", "nyha" "1", "sex" "1"}, :result [{:death 36.07625515332616, :residual 32.86800326577064, :transplant 31.055741580903206, :year 1} {:death 53.13368520757857, :residual 10.197274701668357, :transplant 36.66904009075307, :year 2} {:death 58.06422952978518, :residual 3.388888103270371, :transplant 38.546882366944445, :year 3}]}
{:organ "lung", :tool "waiting", :clj-inputs {:rage :rage_1, :sex :male, :blood-group :O, :in-hosp :no, :fvc :fvc_1, :bmi :bmi_1, :dd-pred :pred-15+, :thoracotomy :no, :nyha-class :nyha-1, :d-gp :cf}, :r-inputs {"bld" "1", "inhosp" "1", "fvc" "1", "bmi" "1", "dis" "CF", "pred" "15", "prev" "1", "rage" "1", "cent" "Harefield", "nyha" "1", "sex" "1"}, :result [{:death 41.625239560770844, :residual 27.215006412820287, :transplant 31.15975402640887, :year 1} {:death 57.68280350161139, :residual 6.637889961834409, :transplant 35.67930653655419, :year 2} {:death 61.36780009799235, :residual 1.7718265792328491, :transplant 36.860373322774805, :year 3}]}
{:organ "lung", :tool "waiting", :clj-inputs {:rage :rage_1, :sex :male, :blood-group :O, :in-hosp :no, :fvc :fvc_2, :bmi :bmi_1, :dd-pred :pred-0, :thoracotomy :no, :nyha-class :nyha-1, :d-gp :cf}, :r-inputs {"bld" "1", "inhosp" "1", "fvc" "2", "bmi" "1", "dis" "CF", "pred" "0", "prev" "1", "rage" "1", "cent" "Harefield", "nyha" "1", "sex" "1"}, :result [{:death 21.175746037925723, :residual 35.722104269947664, :transplant 43.10214969212661, :year 1} {:death 33.10905865813777, :residual 14.460460978485434, :transplant 52.430480363376795, :year 2} {:death 37.54444841148494, :residual 5.925022881890918, :transplant 56.53052870662414, :year 3}]}
{:organ "lung", :tool "waiting", :clj-inputs {:rage :rage_1, :sex :male, :blood-group :O, :in-hosp :no, :fvc :fvc_3, :bmi :bmi_1, :dd-pred :pred-0, :thoracotomy :no, :nyha-class :nyha-1, :d-gp :cf}, :r-inputs {"bld" "1", "inhosp" "1", "fvc" "3", "bmi" "1", "dis" "CF", "pred" "0", "prev" "1", "rage" "1", "cent" "Harefield", "nyha" "1", "sex" "1"}, :result [{:death 13.721153545920636, :residual 34.02284111805544, :transplant 52.256005336023925, :year 1} {:death 21.58171230308733, :residual 14.739424286605395, :transplant 63.67886341030727, :year 2} {:death 24.691355676414435, :residual 6.250723064752095, :transplant 69.05792125883346, :year 3}]}
{:organ "lung", :tool "waiting", :clj-inputs {:rage :rage_1, :sex :male, :blood-group :O, :in-hosp :no, :fvc :fvc_4, :bmi :bmi_1, :dd-pred :pred-0, :thoracotomy :no, :nyha-class :nyha-1, :d-gp :cf}, :r-inputs {"bld" "1", "inhosp" "1", "fvc" "4", "bmi" "1", "dis" "CF", "pred" "0", "prev" "1", "rage" "1", "cent" "Harefield", "nyha" "1", "sex" "1"}, :result [{:death 15.754469234981219, :residual 36.3685900440566, :transplant 47.876940720962175, :year 1} {:death 25.128013292922326, :residual 16.049899933814704, :transplant 58.822086773262974, :year 2} {:death 28.905631936953558, :residual 7.016901994981084, :transplant 64.07746606806536, :year 3}]}
{:organ "lung", :tool "waiting", :clj-inputs {:rage :rage_1, :sex :male, :blood-group :O, :in-hosp :no, :fvc :fvc_1, :bmi :bmi_2, :dd-pred :pred-0, :thoracotomy :no, :nyha-class :nyha-1, :d-gp :cf}, :r-inputs {"bld" "1", "inhosp" "1", "fvc" "1", "bmi" "2", "dis" "CF", "pred" "0", "prev" "1", "rage" "1", "cent" "Harefield", "nyha" "1", "sex" "1"}, :result [{:death 26.02511240494259, :residual 39.43088497482697, :transplant 34.544002620230444, :year 1} {:death 41.39451053131, :residual 16.144216029670954, :transplant 42.461273439019045, :year 2} {:death 47.17824502661749, :residual 6.837865727230086, :transplant 45.98388924615243, :year 3}]}
{:organ "lung", :tool "waiting", :clj-inputs {:rage :rage_1, :sex :male, :blood-group :O, :in-hosp :no, :fvc :fvc_1, :bmi :bmi_3, :dd-pred :pred-0, :thoracotomy :no, :nyha-class :nyha-1, :d-gp :cf}, :r-inputs {"bld" "1", "inhosp" "1", "fvc" "1", "bmi" "3", "dis" "CF", "pred" "0", "prev" "1", "rage" "1", "cent" "Harefield", "nyha" "1", "sex" "1"}, :result [{:death 21.827052296937048, :residual 41.9840700274863, :transplant 36.188877675576656, :year 1} {:death 35.78769722529544, :residual 18.99445792209513, :transplant 45.21784485260943, :year 2} {:death 41.561466811394695, :residual 8.769057545602799, :transplant 49.6694756430025, :year 3}]}
{:organ "lung", :tool "waiting", :clj-inputs {:rage :rage_1, :sex :male, :blood-group :O, :in-hosp :no, :fvc :fvc_1, :bmi :bmi_1, :dd-pred :pred-0, :thoracotomy :yes, :nyha-class :nyha-1, :d-gp :cf}, :r-inputs {"bld" "1", "inhosp" "1", "fvc" "1", "bmi" "1", "dis" "CF", "pred" "0", "prev" "2", "rage" "1", "cent" "Harefield", "nyha" "1", "sex" "1"}, :result [{:death 32.138873804579575, :residual 44.4030595731801, :transplant 23.458066622240317, :year 1} {:death 52.25338741244148, :residual 18.51955447501352, :transplant 29.227058112544995, :year 2} {:death 59.9704241516123, :residual 8.1851458538307, :transplant 31.844429994557, :year 3}]}
]