;;
;; These values are copy pasted from the site using a 'test' url like http://localhost:3000/#/kidney/birm/waiting/test/A2SmBoDyEaMdGfdysn
;;
[{:organ "kidney", :tool "waiting", :r-inputs {"bld" "o", "graft" "0", "diabetes" "2", "age" "2", "match" "1", "cent" "Birmingham", "sex" "m", "eth" "nonwhite", "sens" "1", "dialysis" "1"}, :result [{:death 1, :removal 1, :residual 85, :transplant 13, :year 1} {:death 2, :removal 7, :residual 43, :transplant 48, :year 3} {:death 2, :removal 12, :residual 8, :transplant 78, :year 5}]}
 {:organ "kidney", :tool "waiting", :r-inputs {"bld" "o", "graft" "0", "diabetes" "2", "age" "3", "match" "1", "cent" "Birmingham", "sex" "m", "eth" "nonwhite", "sens" "1", "dialysis" "1"}, :result [{:death 1, :removal 2, :residual 86, :transplant 11, :year 1} {:death 3, :removal 10, :residual 45, :transplant 42, :year 3} {:death 5, :removal 17, :residual 9, :transplant 69, :year 5}]}
 {:organ "kidney", :tool "waiting", :r-inputs {"bld" "o", "graft" "0", "diabetes" "2", "age" "4", "match" "1", "cent" "Birmingham", "sex" "m", "eth" "nonwhite", "sens" "1", "dialysis" "1"}, :result [{:death 2, :removal 2, :residual 87, :transplant 9, :year 1} {:death 5, :removal 13, :residual 48, :transplant 34, :year 3} {:death 8, :removal 22, :residual 11, :transplant 59, :year 5}]}
 {:organ "kidney", :tool "waiting", :r-inputs {"bld" "o", "graft" "0", "diabetes" "2", "age" "5", "match" "1", "cent" "Birmingham", "sex" "m", "eth" "nonwhite", "sens" "1", "dialysis" "1"}, :result [{:death 3, :removal 3, :residual 87, :transplant 7, :year 1} {:death 8, :removal 18, :residual 46, :transplant 28, :year 3} {:death 12, :removal 31, :residual 10, :transplant 47, :year 5}]}
 {:organ "kidney", :tool "waiting", :r-inputs {"bld" "o", "graft" "0", "diabetes" "2", "age" "6", "match" "1", "cent" "Birmingham", "sex" "m", "eth" "nonwhite", "sens" "1", "dialysis" "1"}, :result [{:death 3, :removal 5, :residual 86, :transplant 6, :year 1} {:death 9, :removal 30, :residual 40, :transplant 21, :year 3} {:death 13, :removal 48, :residual 6, :transplant 33, :year 5}]}
 {:organ "kidney", :tool "waiting", :r-inputs {"bld" "o", "graft" "0", "diabetes" "2", "age" "7", "match" "1", "cent" "Birmingham", "sex" "m", "eth" "nonwhite", "sens" "1", "dialysis" "1"}, :result [{:death 3, :removal 12, :residual 80, :transplant 5, :year 1} {:death 8, :removal 57, :residual 22, :transplant 13, :year 3} {:death 10, :removal 72, :residual 1, :transplant 17, :year 5}]}
 {:organ "kidney", :tool "waiting", :r-inputs {"bld" "o", "graft" "0", "diabetes" "2", "age" "2", "match" "1", "cent" "Birmingham", "sex" "f", "eth" "nonwhite", "sens" "1", "dialysis" "1"}, :result [{:death 0, :removal 1, :residual 87, :transplant 12, :year 1} {:death 2, :removal 6, :residual 47, :transplant 45, :year 3} {:death 2, :removal 11, :residual 10, :transplant 77, :year 5}]}
 {:organ "kidney", :tool "waiting", :r-inputs {"bld" "o", "graft" "0", "diabetes" "2", "age" "2", "match" "1", "cent" "Birmingham", "sex" "m", "eth" "white", "sens" "1", "dialysis" "1"}, :result [{:death 1, :removal 1, :residual 84, :transplant 14, :year 1} {:death 2, :removal 8, :residual 41, :transplant 49, :year 3} {:death 3, :removal 13, :residual 7, :transplant 77, :year 5}]}
 {:organ "kidney", :tool "waiting", :r-inputs {"bld" "a", "graft" "0", "diabetes" "2", "age" "2", "match" "1", "cent" "Birmingham", "sex" "m", "eth" "nonwhite", "sens" "1", "dialysis" "1"}, :result [{:death 1, :removal 1, :residual 75, :transplant 23, :year 1} {:death 2, :removal 7, :residual 22, :transplant 69, :year 3} {:death 2, :removal 9, :residual 1, :transplant 88, :year 5}]}
 {:organ "kidney", :tool "waiting", :r-inputs {"bld" "b", "graft" "0", "diabetes" "2", "age" "2", "match" "1", "cent" "Birmingham", "sex" "m", "eth" "nonwhite", "sens" "1", "dialysis" "1"}, :result [{:death 1, :removal 1, :residual 86, :transplant 12, :year 1} {:death 2, :removal 7, :residual 44, :transplant 47, :year 3} {:death 3, :removal 12, :residual 8, :transplant 77, :year 5}]}
 {:organ "kidney", :tool "waiting", :r-inputs {"bld" "ab", "graft" "0", "diabetes" "2", "age" "2", "match" "1", "cent" "Birmingham", "sex" "m", "eth" "nonwhite", "sens" "1", "dialysis" "1"}, :result [{:death 1, :removal 1, :residual 75, :transplant 23, :year 1} {:death 2, :removal 7, :residual 22, :transplant 69, :year 3} {:death 2, :removal 9, :residual 1, :transplant 88, :year 5}]}
 {:organ "kidney", :tool "waiting", :r-inputs {"bld" "o", "graft" "0", "diabetes" "1", "age" "2", "match" "1", "cent" "Birmingham", "sex" "m", "eth" "nonwhite", "sens" "1", "dialysis" "1"}, :result [{:death 0, :removal 1, :residual 84, :transplant 15, :year 1} {:death 1, :removal 5, :residual 41, :transplant 53, :year 3} {:death 1, :removal 9, :residual 7, :transplant 83, :year 5}]}
 {:organ "kidney", :tool "waiting", :r-inputs {"bld" "o", "graft" "1", "diabetes" "2", "age" "2", "match" "1", "cent" "Birmingham", "sex" "m", "eth" "nonwhite", "sens" "1", "dialysis" "1"}, :result [{:death 1, :removal 1, :residual 90, :transplant 8, :year 1} {:death 2, :removal 7, :residual 56, :transplant 35, :year 3} {:death 4, :removal 13, :residual 18, :transplant 65, :year 5}]}
 {:organ "kidney", :tool "waiting", :r-inputs {"bld" "o", "graft" "0", "diabetes" "2", "age" "2", "match" "1", "cent" "Birmingham", "sex" "m", "eth" "nonwhite", "sens" "1", "dialysis" "2"}, :result [{:death 0, :removal 1, :residual 83, :transplant 16, :year 1} {:death 1, :removal 5, :residual 37, :transplant 57, :year 3} {:death 2, :removal 8, :residual 5, :transplant 85, :year 5}]}
 {:organ "kidney", :tool "waiting", :r-inputs {"bld" "o", "graft" "0", "diabetes" "2", "age" "2", "match" "1", "cent" "Birmingham", "sex" "m", "eth" "nonwhite", "sens" "2", "dialysis" "1"}, :result [{:death 1, :removal 1, :residual 92, :transplant 6, :year 1} {:death 2, :removal 9, :residual 63, :transplant 26, :year 3} {:death 4, :removal 19, :residual 25, :transplant 52, :year 5}]}
 {:organ "kidney", :tool "waiting", :r-inputs {"bld" "o", "graft" "0", "diabetes" "2", "age" "2", "match" "2", "cent" "Birmingham", "sex" "m", "eth" "nonwhite", "sens" "1", "dialysis" "1"}, :result [{:death 1, :removal 1, :residual 89, :transplant 9, :year 1} {:death 2, :removal 7, :residual 53, :transplant 38, :year 3} {:death 3, :removal 13, :residual 15, :transplant 69, :year 5}]}
 {:organ "kidney", :tool "waiting", :r-inputs {"bld" "o", "graft" "0", "diabetes" "2", "age" "2", "match" "3", "cent" "Birmingham", "sex" "m", "eth" "nonwhite", "sens" "1", "dialysis" "1"}, :result [{:death 0, :removal 1, :residual 92, :transplant 7, :year 1} {:death 2, :removal 6, :residual 64, :transplant 28, :year 3} {:death 3, :removal 12, :residual 26, :transplant 59, :year 5}]}]