{:abbreviations {:kidney {:age                        ["A" {:18+ "2"
                                                            :30+ "3"
                                                            :40+ "4"
                                                            :50+ "5"
                                                            :60+ "6"}]
                          :t-stage                    ["T" {:pT1a "1"
                                                            :pT1b "2"
                                                            :pT2  "3"
                                                            :pT3a "4"
                                                            :pT3b "5"
                                                            :pT3c "6"
                                                            :pT4  "7"}]
                          :n-stage                    ["N" {:pNx "1"
                                                            :pN0 "2"
                                                            :pN1 "3"
                                                            :pN2 "4"}]
                          :tumor-size                 ["S" {:cm-<10  "1"
                                                            :cm->=10 "2"}]
                          :nuclear-grade              ["G" {:1 "1"
                                                            :2 "2"
                                                            :3 "3"
                                                            :4 "4"}]
                          :histologic-tumor-necrosis  ["H" {:No "n"
                                                            :Yes "y"}]}}}
                          
