;;;
;; xlsx table specifications for BOTH kidney and lung -- set the profile to choose which
;; 
;; If a match key is provided it allows us to use a regex for a looser match when reading a spreadsheet.
;; If no match key is present we match on the name key
;; Having made a successful match, we use the canonical form on the :name key
;; 
;; A :match key of "abc" will be matched against lowercase(:name) with leading and trailing white-space trimmed.
;;;
{:workbook #profile {:kidney "kidney-models-master.xlsx"
                     :lung "lung-models-master.xlsx"}

 :export #profile {:kidney {:csv-path "resources/public/kidney/csv"
                            :edn-path "resources/public/kidney/edn"}
                   :lung {:csv-path "resources/public/lung/csv"
                          :edn-path "resources/public/lung/edn"}}


 ;
 ; Configuration files may also be exported in bundles appropriate for embedded tools. 
 ; Baseline cifs may be filtered by centre.
 ;
 :bundles #profile {:kidney {:centres [:centres]
                             :tools [:tools]
                             :waiting [:waiting-baseline-cifs :waiting-baseline-vars :waiting-inputs]
                             :graft [:graft-baseline-cifs :graft-baseline-vars :graft-inputs]
                             :survival [:survival-baseline-cifs :survival-baseline-vars :survival-inputs]
                             :ldgraft [:ldgraft-baseline-cifs :ldgraft-baseline-vars :ldgraft-inputs]
                             :ldsurvival [:ldsurvival-baseline-cifs :ldsurvival-baseline-vars :ldsurvival-inputs]}
                    :lung {:centres [:centres]
                           :tools [:tools]
                           :waiting [:waiting-baseline-cifs :waiting-baseline-vars :waiting-inputs]
                           :post-transplant [:post-transplant-baseline-cifs :post-transplant-baseline-vars :post-transplant-inputs]}}

 :sheets #profile {:kidney {:centres {:key {:column :A :match "key"}
                                      :name {:column :B :match "name"}
                                      :link {:column :C :match "link"}
                                      :image {:column :D :match "image"}
                                      :description {:column :E :match "desc"}}
                            :tools {:key {:column :A :match "key"}
                                    :name {:column :B :match "name"}
                                    :description {:column :C :match "desc"}}
                            :waiting-baseline-cifs {:centre {:column :A
                                                             :match "cent"}
                                                    :days {:column :B
                                                           :match "(time)|(days)|(t)"}
                                                    :cif-transplant {:column :C
                                                                     :match "trans"}
                                                    :cif-removal {:column :D
                                                                  :match "remov"}
                                                    :cif-death {:column :E
                                                                :match "death"}
                                                    :cif-all-reasons {:column :F
                                                                      :match "all"}}

                            :waiting-baseline-vars {:factor {:column :A
                                                             :match "factor"}
                                                    :level {:column :B
                                                            :match "level"}}

                            :waiting-inputs {:factor {:column :A
                                                      :match "factor"}
                                             :level {:column :B
                                                     :match "level"}
                                             :factor-name {:column :C
                                                           :match "(Factor)|(label)"}
                                             :level-name {:column :D
                                                          :match "(level)|(button)"}
                                             :beta-transplant {:column :E
                                                               :match "transplant"}
                                             :beta-death {:column :F
                                                          :match "death"}
                                             :type {:column :G
                                                    :match "type"}
                                             :sub-text {:column :H
                                                        :match "sub"}
                                             :info-box? {:column :I
                                                         :match "info"}
                                             :order {:column :J
                                                     :match "order"}}

                            :graft-baseline-cifs {:centre {:column :A
                                                           :match "centre"}
                                                  :days {:column :B
                                                         :match "(time)|(days)"}
                                                  :cif-graft {:column :C
                                                              :match "graft"}}

                            :graft-baseline-vars {:factor {:column :A
                                                           :match "factor"}
                                                  :level {:column :B
                                                          :match "level"}}

                            :graft-inputs {:factor {:column :A
                                                    :match "factor"}
                                           :level {:column :B
                                                   :match "level"}
                                           :factor-name {:column :C
                                                         :match "inputs"}
                                           :level-name {:column :D
                                                        :match "(label)|(level)"}
                                           :beta-graft {:column :E
                                                        :match "graft"}
                                           :type {:column :F
                                                  :match "type"}
                                           :sub-text {:column :G
                                                      :match "sub-text"}
                                           :info-box? {:column :H
                                                       :match "info"}
                                           :order {:column :I
                                                   :match "order"}}
                            :survival-baseline-cifs {:centre {:column :A
                                                              :match "centre"}
                                                     :days {:column :B
                                                            :match "(time)|(days)"}
                                                     :cif-survival {:column :C
                                                                    :match "survival"}}
                            :survival-baseline-vars {:factor {:column :A
                                                              :match "factor"}
                                                     :level {:column :B
                                                             :match "level"}}
                            :survival-inputs {:factor {:column :A
                                                       :match "factor"}
                                              :level {:column :B
                                                      :match "level"}
                                              :factor-name {:column :C
                                                            :match "inputs"}
                                              :level-name {:column :D
                                                           :match "(label)|(level)"}
                                              :beta-survival {:column :E
                                                              :match "survival"}
                                              :type {:column :F
                                                     :match "type"}
                                              :sub-text {:column :G
                                                         :match "sub-text"}
                                              :info-box? {:column :H
                                                          :match "info"}
                                              :order {:column :I
                                                      :match "order"}}
                            :ldgraft-baseline-cifs {:centre {:column :A
                                                             :match "centre"}
                                                    :days {:column :B
                                                           :match "(time)|(days)"}
                                                    :cif-graft {:column :C
                                                                :match "graft"}}

                            :ldgraft-baseline-vars {:factor {:column :A
                                                             :match "factor"}
                                                    :level {:column :B
                                                            :match "level"}}

                            :ldgraft-inputs {:factor {:column :A
                                                      :match "factor"}
                                             :level {:column :B
                                                     :match "level"}
                                             :factor-name {:column :C
                                                           :match "inputs"}
                                             :level-name {:column :D
                                                          :match "(label)|(level)"}
                                             :beta-graft {:column :E
                                                          :match "graft"}
                                             :type {:column :F
                                                    :match "type"}
                                             :sub-text {:column :G
                                                        :match "sub-text"}
                                             :info-box? {:column :H
                                                         :match "info"}
                                             :order {:column :I
                                                     :match "order"}}
                            :ldsurvival-baseline-cifs {:centre {:column :A
                                                                :match "centre"}
                                                       :days {:column :B
                                                              :match "(time)|(days)"}
                                                       :cif-survival {:column :C
                                                                      :match "survival"}}
                            :ldsurvival-baseline-vars {:factor {:column :A
                                                                :match "factor"}
                                                       :level {:column :B
                                                               :match "level"}}
                            :ldsurvival-inputs {:factor {:column :A
                                                         :match "factor"}
                                                :level {:column :B
                                                        :match "level"}
                                                :factor-name {:column :C
                                                              :match "inputs"}
                                                :level-name {:column :D
                                                             :match "(label)|(level)"}
                                                :beta-survival {:column :E
                                                                :match "survival"}
                                                :type {:column :F
                                                       :match "type"}
                                                :sub-text {:column :G
                                                           :match "sub-text"}
                                                :info-box? {:column :H
                                                            :match "info"}
                                                :order {:column :I
                                                        :match "order"}}}
                   :lung {:centres {:key {:column :A :match "centres"}
                                    :name {:column :B :match "name"}
                                    :link {:column :C :match "link"}
                                    :image {:column :D :match "image"}
                                    :description {:column :E :match "desc"}}
                          :tools {:key {:column :A :match "key"}
                                  :name {:column :B :match "name"}
                                  :description {:column :C :match "desc"}}
                          :waiting-baseline-cifs {:centre {:column :A
                                                           :match "cent"}
                                                  :days {:column :B
                                                         :match "(time)|(days)|(t)"}
                                                  :cif-transplant {:column :C
                                                                   :match "trans"}
                                                  :cif-removal {:column :D
                                                                :match "rremov"}
                                                  :cif-death {:column :E
                                                              :match "death"}
                                                  :cif-all-reasons {:column :F
                                                                    :match "all"}}

                          :waiting-baseline-vars {:factor {:column :A
                                                           :match "factor"}
                                                  :level {:column :B
                                                          :match "level"}}

                          :waiting-inputs {:factor {:column :A
                                                    :match "factor"}
                                           :level {:column :B
                                                   :match "level"}
                                           :factor-name {:column :C
                                                         :match "factor"}
                                           :level-name {:column :D
                                                        :match "level"}
                                           :beta-transplant {:column :E
                                                             :match "transplant"}
                                           :beta-death {:column :F
                                                        :match "death"}
                                           :type {:column :G
                                                  :match "type"}
                                           :sub-text {:column :H
                                                      :match "sub"}
                                           :info-box? {:column :I
                                                       :match "info"}
                                           :order {:column :J
                                                   :match "order"}}

                          #_#_:numerics {:model {:column :A
                                                 :match "model"}
                                         :factor {:column :B
                                                  :match "factor"}
                                         :min {:column :C
                                               :match "min"}
                                         :max {:column :D
                                               :match "max"}
                                         :dps {:column :E
                                               :match "dps"}
                                         :knot1 {:column :F
                                                 :match "knot1"}
                                         :knot2 {:column :G
                                                 :match "knot2"}
                                         :knot3 {:column :H
                                                 :match "knot3"}
                                         :knot4 {:column :I
                                                 :match "knot4"}}
                          :post-transplant-baseline-cifs {:centre {:column :A
                                                                   :match "centre"}
                                                          :days {:column :B
                                                                 :match "(time)|(days)"}
                                                          :cif-post-transplant {:column :C
                                                                                :match "graft"}}

                          :post-transplant-baseline-vars {:factor {:column :A
                                                                   :match "factor"}
                                                          :level {:column :B
                                                                  :match "level"}}

                          :post-transplant-inputs {:factor {:column :A
                                                            :match "factor"}
                                                   :level {:column :B
                                                           :match "level"}
                                                   :factor-name {:column :C
                                                                 :match "inputs"}
                                                   :level-name {:column :D
                                                                :match "(label)|(level)"}
                                                   :beta-post-transplant {:column :E
                                                                          :match "graft"}
                                                   :type {:column :F
                                                          :match "type"}
                                                   :sub-text {:column :G
                                                              :match "sub-text"}
                                                   :info-box? {:column :H
                                                               :match "info"}
                                                   :order {:column :I
                                                           :match "order"}}

                          :from-listing-baseline-cifs {:centre {:column :A
                                                                :match "centre"}
                                                       :days {:column :B
                                                              :match "(time)|(days)"}
                                                       :cif-from-listing {:column :C
                                                                          :match "survival"}}
                          :from-listing-baseline-vars {:factor {:column :A
                                                                :match "factor"}
                                                       :level {:column :B
                                                               :match "level"}}
                          :from-listing-inputs {:factor {:column :A
                                                         :match "factor"}
                                                :level {:column :B
                                                        :match "level"}
                                                :factor-name {:column :C
                                                              :match "inputs"}
                                                :level-name {:column :D
                                                             :match "(label)|(level)"}
                                                :beta-from-listing {:column :E
                                                                    :match "survival"}
                                                :type {:column :F
                                                       :match "type"}
                                                :sub-text {:column :G
                                                           :match "sub-text"}
                                                :info-box? {:column :H
                                                            :match "info"}
                                                :order {:column :I
                                                        :match "order"}}}}} 