;;;
;; xlsx table specifications for BOTH kidney and lung -- set the profile to choose which
;; 
;; If a match key is provided it allows us to use a regex for a looser match when reading a spreadsheet.
;; If no match key is present we match on the name key
;; Having made a successful match, we use the canonical form on the :name key
;; 
;; A :match key of "abc" will be matched against lowercase(:name) with leading and trailing white-space trimmed.
;;;
{:workbook #profile {:kidney "kidney-models-master.xlsx"
                     :lung "lung-models-master.xlsx"}

 :export #profile {:kidney {:csv-path "resources/public/kidney/csv"
                            :edn-path "resources/public/kidney/edn"}
                   :lung {:csv-path "resources/public/lung/csv"
                          :edn-path "resources/public/lung/edn"}}


 ;
 ; Configuration files may also be exported in bundles appropriate for embedded tools. 
 ; Baseline cifs may be filtered by centre.
 ;
 :bundles #profile {:kidney {:centres [:centres]
                             :tools [:tools]
                             :waiting [:waiting-baseline-cifs :waiting-baseline-vars :waiting-inputs]
                             :graft [:graft-baseline-cifs :graft-baseline-vars :graft-inputs]
                             :survival [:survival-baseline-cifs :survival-baseline-vars :survival-inputs]
                             :ldgraft [:ldgraft-baseline-cifs :ldgraft-baseline-vars :ldgraft-inputs]
                             :ldsurvival [:ldsurvival-baseline-cifs :ldsurvival-baseline-vars :ldsurvival-inputs]
                             }
                    :lung {:centres [:centres]
                           :tools [:tools]
                           :waiting [:waiting-baseline-cifs :waiting-baseline-vars :waiting-inputs]
                           :post-transplant [:post-transplant-baseline-cifs :post-transplant-baseline-vars :post-transplant-inputs]}}

 } 