<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="This is a communication tool to help patients understand risks and benefits of transplantation and help health care professionals explain these risks and benefits.">
    <title>kcp Risks</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
    <link href="css/styles.css" rel="stylesheet">
</head>

<body>
    <noscript>
    kcp is a JavaScript app. Please enable JavaScript to continue.
  </noscript>
    <div class="print-root" id="app" style="background-color: #fff"></div>
    <link href="css/open-iconic-bootstrap.css" rel="stylesheet">
    <script src="object-assign-auto-min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.js"></script>
    <script src="js/app.js" async></script>
</body>

</html>