{; List of organ metadata.
 ; Edit this to add a new organ to the tool. 
 ; Forms may be commented out with #_.
 ; Lines or line tail ends may be commented out with ';'
 ; Clojure [], {},  
 :lung {:text "Lung"
        :label "Lung Transplants"
        :tools {:waiting {:outcomes {:transplant {:label "Transplanted"
                                                  :order 1
                                                  :fill "#41af6b"
                                                  :label-fill "#fff"}
                                     :residual {:label "Waiting"
                                                :order 2
                                                :fill "#4866cb"
                                                :label-fill "#fff"}
                                     :death {:label "Died or Left"
                                             :order 3
                                             :fill "#000000"
                                             :label-fill "#fff"}}
                          :plot-order [:transplant :residual :death]
                          :pre-section [:<>
                                        [:h4
                                         "What might happen after I join the waiting list for a lung transplant?"]
                                        [:p "These are the outcomes we would expect for people who entered the same
                                                       information as you, based on patients who joined the waiting list between 2004 and 2014. "]]
                          :post-section [:h5 "Outcomes after listing"]}

                :post-transplant {:outcomes {:residual {:label "Survived"
                                                               :order 1
                                                               :fill "#008888"
                                                               :label-fill "#fff"}
                                             :post-transplant {:label "Died"
                                                        :order 2
                                                        :fill "none"
                                                        :label-fill "#fff"
                                                        :stroke-width 3
                                                        :stroke "#000000"}}
                                  :plot-order [:post-transplant :residual]
                                  :pre-section [:h4 "About how long do people survive after a transplant?"]
                                  :post-section [:h5 "Patient Survival Post Transplant"]}}}

 
;; [".transplant" (bar-style {:fill "#41af6b"})]
;; [".removal" (bar-style {:fill "#4b4d48"})]
;; [".waiting" (bar-style {:fill "#4866cb" #_"#007BFF"})]
;; [".death" (bar-style {:fill "#000000"})]
;; [".post-transplant" (bar-style {:fill "#008888"})]
;; [".from-listing" (bar-style {:fill "#4444AA"})]
;; [".survival" (bar-style {:fill "#664488"})]
;; [".graft" (bar-style {:fill "#00AA44"})]


 :kidney {:text "Kidney"
          :label "Kidney Transplants"
          :tools {:waiting {:outcomes {:transplant {:label "Transplanted"
                                                    :order 1
                                                    :fill "#41af6b"}
                                       :death {:label "Died"
                                               :order 4
                                               :fill "#000000"}
                                       :removed {:label "Removed"
                                                 :order 3
                                                 :fill "#4b4d48"}
                                       :remainder {:label "Waiting"
                                                   :order 2
                                                   :fill "#4866cb"}}
                            :pre-section [:<>
                                          [:h4 {:style {:margin-top 10}}
                                           "What might happen after I join the waiting list for a kidney transplant?"]
                                          [:p "These are the outcomes we would expect for people who entered the same 
                                                         information as you, based on patients who joined the waiting list between 2004 and 2014. "]]}
                     ;; these are for deceased donor
                  :survival {:outcomes {:remainder {:label "Surviving"
                                                    :order 2
                                                    :stroke-width 3
                                                    :stroke "#000000"}
                                        :patient {:label "Died"
                                                          :order 1
                                                          :fill "#008888"}}
                             :pre-section [:h4 "About how long do people survive after a transplant?"]
                             :post-section [:h5 "Patient Survival Post Transplant"]}
                  :graft {:outcomes {:remainder {:label "Surviving"
                                                 :order 2
                                                 :stroke-width 3
                                                 :stroke "#000000"}
                                     :graft {:label "Died"
                                                       :order 1
                                                       :fill "#00AA44"}}
                          :pre-section [:h4 "About how long does the graft survive after a transplant?"]
                          :post-section [:h5 "Graft Survival Post Transplant"]}
                     ;; ld for living donor
                  :ldsurvival {:outcomes {:remainder {:label "Surviving"
                                                      :order 2
                                                      :stroke-width 3
                                                      :stroke "#000000"}
                                          :ldpatient {:label "Died"
                                                            :order 1
                                                            :fill "#008888"}}
                               :pre-section [:h4 "About how long do people survive after a living donor transplant?"]
                               :post-section [:h5 "Patient Survival Post Transplant (Living Donor)"]}
                  :ldgraft {:outcomes {:remainder {:label "Surviving"
                                                   :order 2
                                                   :stroke-width 3
                                                   :stroke "#000000"}
                                       :ldgraft {:label "Died"
                                                         :order 1
                                                         :fill "#008888"}}
                            :pre-section [:h4 "About how does the graft survive after a living donor transplant?"]
                            :post-section [:h5 "Graft Survival Post Transplant (Living Donor)"]}}}}

