{; List of organ metadata.
 ; Edit this to add a new organ to the tool
 :organ-meta [{:organ :lung :text "Lung" :label "Lung Transplants"}
              {:organ :kidney :text "Kidney" :label "Kidney Transplants"}]

 ; Spreadsheet columns which are useful as keys once the rows have been grouped by these keys.
 ; If two keys are given, the second is a possible sub-key.
 :sheet-meta {"centres" [:key :name]
              "tools"  [:key]
              
              "waiting-baseline-cifs" [:centre :days]
              "waiting-baseline-vars" [:baseline-factor]
              "waiting-inputs" [:factor :level]
              
              "post-transplant-baseline-cifs" [:centre :days]
              "post-transplant-baseline-vars" [:baseline-factor]
              "post-transplant-inputs" [:factor :level]
              
              "from-listing-baseline-cifs" [:centre :days]
              "from-listing-baseline-vars" [:baseline-factor]
              "from-listing-inputs" [:factor :level]
              
              "graft-baseline-cifs" [:centre :days]
              "graft-baseline-vars" [:baseline-factor]
              "graft-inputs" [:factor :level]
              
              "survival-baseline-cifs" [:centre :days]
              "survival-baseline-vars" [:baseline-factor]
              "survival-inputs" [:factor :level]
            
              "numerics" [:model :factor]
              "bmi-calculator" [:factor :modal]}
 
 :outcome-meta {:transplant {:label "Transplanted" :order 1}
                :death {:label "Died or Left" :order 3}
                :waiting {:label "Waiting" :order 2}}
 
 :vis-meta {:lung {:outcomes {:transplant {:label "Transplanted" :order 1}
                              :death {:label "Died or Left" :order 3}
                              :waiting {:label "Waiting" :order 2}}
                   
                   :waiting {:bars {:pre-section [:<>
                                                  [:h4 {:style {:margin-top 10}}
                                                   "What might happen after I join the waiting list for a lung transplant?"]
                                                  [:p "These are the outcomes we would expect for people who entered the same
                                                       information as you, based on patients who joined the waiting list between 2004 and 2014. "]]
                                    :post-section [:h5 "Outcomes after listing"]}}
                   
                   :post-transplant {:bars {:pre-section [:h4 "About how long do people survive after a transplant?"]
                                            :post-section [:h5 "Patient Survival Post Transplant"]}}}
            
            :kidney {:outcomes {:transplant {:label "Transplanted" :order 1}
                                :death {:label "Died" :order 4}
                                :removed {:label "Removed" :order 3}
                                :waiting {:label "Waiting" :order 2}}
                     :waiting {:bars {:pre-section [:<>
                                                    [:h4 {:style {:margin-top 10}}
                                                     "What might happen after I join the waiting list for a kidney transplant?"]
                                                    [:p "These are the outcomes we would expect for people who entered the same 
                                                         information as you, based on patients who joined the waiting list between 2004 and 2014. "]]
                                      :post-section [:h5 "Patient Survival Post Transplant"]}}

                     :survival {:bars {:pre-section [:h4 "About how long do people survive after a transplant?"]}}}}
 }

(comment         :survival
[vis/bar-chart (conj env
                     [:rubric [:h4 "About how long do people survive after a transplant?"]]
                     [:bar-info [{:key "su"
                                  :label "Survival post-transplant"
                                  :fill survival-fill
                                  :ciff nth
                                  :hide false}]])]

:survival
[vis/bar-chart (conj env
                     [:rubric [:h4 "About how long do people survive after a transplant?"]]
                     [:bar-info [{:key "survival" :label "Patient survival post-transplant" :fill survival-fill :ciff nth :hide false}]])]

:graft
[vis/bar-chart (conj env
                     [:rubric [:h4 "About how long does the graft survive?"]]
                     [:bar-info [{:key "graft" :label "Graft survival" :fill graft-fill :ciff nth :hide false}]])]
:ldsurvival
[vis/bar-chart (conj env
                     [:rubric [:h4 "About how long do people survive after a transplant from a living donor?"]]
                     [:bar-info [{:key "ldsurvival" :label "Patient survival post-transplant" :fill survival-fill :ciff nth :hide false}]])]

:ldgraft
[vis/bar-chart (conj env
                     [:rubric [:h4 "About how long does the graft from a living donor survive?"]]
                     [:bar-info [{:key "ldgraft" :label "Graft survival" :fill graft-fill :ciff nth :hide false}]])]
0)