;;
;; These values are copy pasted from the site using a 'test' url like http://localhost:3000/#/kidney/birm/waiting/test/A2SmBoDyEaMdGfdysn
;;
{:organ "kidney", :tool "ldgraft", :r-inputs {"cent" "Belfast", "rage" "1", "wait" "1", "match" "1", "hla" "1", "dage" "1"}, :result [{:ldgraft 5, :residual 95, :year 1} {:ldgraft 9, :residual 91, :year 3} {:ldgraft 13, :residual 87, :year 5}]}
{:organ "kidney", :tool "ldgraft", :r-inputs {"cent" "Belfast", "rage" "2", "wait" "1", "match" "1", "hla" "1", "dage" "1"}, :result [{:ldgraft 3, :residual 97, :year 1} {:ldgraft 5, :residual 95, :year 3} {:ldgraft 8, :residual 92, :year 5}]}
{:organ "kidney", :tool "ldgraft", :r-inputs {"cent" "Belfast", "rage" "3", "wait" "1", "match" "1", "hla" "1", "dage" "1"}, :result [{:ldgraft 3, :residual 97, :year 1} {:ldgraft 5, :residual 95, :year 3} {:ldgraft 8, :residual 92, :year 5}]}
{:organ "kidney", :tool "ldgraft", :r-inputs {"cent" "Belfast", "rage" "4", "wait" "1", "match" "1", "hla" "1", "dage" "1"}, :result [{:ldgraft 2, :residual 98, :year 1} {:ldgraft 4, :residual 96, :year 3} {:ldgraft 6, :residual 94, :year 5}]}
{:organ "kidney", :tool "ldgraft", :r-inputs {"cent" "Belfast", "rage" "5", "wait" "1", "match" "1", "hla" "1", "dage" "1"}, :result [{:ldgraft 1, :residual 99, :year 1} {:ldgraft 3, :residual 97, :year 3} {:ldgraft 4, :residual 96, :year 5}]}
{:organ "kidney", :tool "ldgraft", :r-inputs {"cent" "Belfast", "rage" "1", "wait" "2", "match" "1", "hla" "1", "dage" "1"}, :result [{:ldgraft 4, :residual 96, :year 1} {:ldgraft 7, :residual 93, :year 3} {:ldgraft 10, :residual 90, :year 5}]}
{:organ "kidney", :tool "ldgraft", :r-inputs {"cent" "Belfast", "rage" "1", "wait" "3", "match" "1", "hla" "1", "dage" "1"}, :result [{:ldgraft 3, :residual 97, :year 1} {:ldgraft 5, :residual 95, :year 3} {:ldgraft 8, :residual 92, :year 5}]}
{:organ "kidney", :tool "ldgraft", :r-inputs {"cent" "Belfast", "rage" "1", "wait" "4", "match" "1", "hla" "1", "dage" "1"}, :result [{:ldgraft 5, :residual 95, :year 1} {:ldgraft 10, :residual 90, :year 3} {:ldgraft 15, :residual 85, :year 5}]}
{:organ "kidney", :tool "ldgraft", :r-inputs {"cent" "Belfast", "rage" "1", "wait" "1", "match" "2", "hla" "1", "dage" "1"}, :result [{:ldgraft 4, :residual 96, :year 1} {:ldgraft 7, :residual 93, :year 3} {:ldgraft 11, :residual 89, :year 5}]}
{:organ "kidney", :tool "ldgraft", :r-inputs {"cent" "Belfast", "rage" "1", "wait" "1", "match" "3", "hla" "1", "dage" "1"}, :result [{:ldgraft 5, :residual 95, :year 1} {:ldgraft 10, :residual 90, :year 3} {:ldgraft 15, :residual 85, :year 5}]}
{:organ "kidney", :tool "ldgraft", :r-inputs {"cent" "Belfast", "rage" "1", "wait" "1", "match" "1", "hla" "2", "dage" "1"}, :result [{:ldgraft 5, :residual 95, :year 1} {:ldgraft 10, :residual 90, :year 3} {:ldgraft 15, :residual 85, :year 5}]}
{:organ "kidney", :tool "ldgraft", :r-inputs {"cent" "Belfast", "rage" "1", "wait" "1", "match" "1", "hla" "3", "dage" "1"}, :result [{:ldgraft 8, :residual 92, :year 1} {:ldgraft 14, :residual 86, :year 3} {:ldgraft 21, :residual 79, :year 5}]}
{:organ "kidney", :tool "ldgraft", :r-inputs {"cent" "Belfast", "rage" "1", "wait" "1", "match" "1", "hla" "4", "dage" "1"}, :result [{:ldgraft 6, :residual 94, :year 1} {:ldgraft 12, :residual 88, :year 3} {:ldgraft 17, :residual 83, :year 5}]}
{:organ "kidney", :tool "ldgraft", :r-inputs {"cent" "Belfast", "rage" "1", "wait" "1", "match" "1", "hla" "1", "dage" "2"}, :result [{:ldgraft 4, :residual 96, :year 1} {:ldgraft 8, :residual 92, :year 3} {:ldgraft 12, :residual 88, :year 5}]}
{:organ "kidney", :tool "ldgraft", :r-inputs {"cent" "Belfast", "rage" "1", "wait" "1", "match" "1", "hla" "1", "dage" "3"}, :result [{:ldgraft 6, :residual 94, :year 1} {:ldgraft 11, :residual 89, :year 3} {:ldgraft 16, :residual 84, :year 5}]}
{:organ "kidney", :tool "ldgraft", :r-inputs {"cent" "Belfast", "rage" "1", "wait" "1", "match" "1", "hla" "1", "dage" "4"}, :result [{:ldgraft 5, :residual 95, :year 1} {:ldgraft 9, :residual 91, :year 3} {:ldgraft 14, :residual 86, :year 5}]}
{:organ "kidney", :tool "ldgraft", :r-inputs {"cent" "Belfast", "rage" "1", "wait" "1", "match" "1", "hla" "1", "dage" "5"}, :result [{:ldgraft 8, :residual 92, :year 1} {:ldgraft 14, :residual 86, :year 3} {:ldgraft 21, :residual 79, :year 5}]}
