;;
;; These values are copy pasted from the site using a 'test' url like http://localhost:3000/#/kidney/birm/waiting/test/A2SmBoDyEaMdGfdysn
;;
[{:organ "kidney", :tool "ldgraft", :clj-inputs {:age :18+, :months-waiting :mw-<=6, :matchability :easy, :hla-mismatch :1, :donor-age :0+}, :r-inputs {"cent" "Bristol", "rage" "1", "wait" "1", "match" "1", "hla" "1", "dage" "1"}, :result [{:ldgraft 4.828439764477654, :residual 95.17156023552235, :year 1} {:ldgraft 8.772287256817746, :residual 91.22771274318225, :year 3} {:ldgraft 13.273514854793333, :residual 86.72648514520667, :year 5}]}
 {:organ "kidney", :tool "ldgraft", :clj-inputs {:age :30+, :months-waiting :mw-<=6, :matchability :easy, :hla-mismatch :1, :donor-age :0+}, :r-inputs {"cent" "Bristol", "rage" "2", "wait" "1", "match" "1", "hla" "1", "dage" "1"}, :result [{:ldgraft 2.832175009826876, :residual 97.16782499017313, :year 1} {:ldgraft 5.190500837432543, :residual 94.80949916256746, :year 3} {:ldgraft 7.93503797270656, :residual 92.06496202729343, :year 5}]}
 {:organ "kidney", :tool "ldgraft", :clj-inputs {:age :40+, :months-waiting :mw-<=6, :matchability :easy, :hla-mismatch :1, :donor-age :0+}, :r-inputs {"cent" "Bristol", "rage" "3", "wait" "1", "match" "1", "hla" "1", "dage" "1"}, :result [{:ldgraft 2.681419997509138, :residual 97.31858000249086, :year 1} {:ldgraft 4.917428849541627, :residual 95.08257115045838, :year 3} {:ldgraft 7.523404873023887, :residual 92.47659512697611, :year 5}]}
 {:organ "kidney", :tool "ldgraft", :clj-inputs {:age :50+, :months-waiting :mw-<=6, :matchability :easy, :hla-mismatch :1, :donor-age :0+}, :r-inputs {"cent" "Bristol", "rage" "4", "wait" "1", "match" "1", "hla" "1", "dage" "1"}, :result [{:ldgraft 2.146834443497325, :residual 97.85316555650267, :year 1} {:ldgraft 3.9461833540376023, :residual 96.0538166459624, :year 3} {:ldgraft 6.054055694362292, :residual 93.94594430563771, :year 5}]}
 {:organ "kidney", :tool "ldgraft", :clj-inputs {:age :60+, :months-waiting :mw-<=6, :matchability :easy, :hla-mismatch :1, :donor-age :0+}, :r-inputs {"cent" "Bristol", "rage" "5", "wait" "1", "match" "1", "hla" "1", "dage" "1"}, :result [{:ldgraft 1.4909364918416657, :residual 98.50906350815833, :year 1} {:ldgraft 2.748321873917503, :residual 97.2516781260825, :year 3} {:ldgraft 4.230565938086272, :residual 95.76943406191373, :year 5}]}
 {:organ "kidney", :tool "ldgraft", :clj-inputs {:age :18+, :months-waiting :mw-<=12, :matchability :easy, :hla-mismatch :1, :donor-age :0+}, :r-inputs {"cent" "Bristol", "rage" "1", "wait" "2", "match" "1", "hla" "1", "dage" "1"}, :result [{:ldgraft 3.6735215173744784, :residual 96.32647848262552, :year 1} {:ldgraft 6.707833108640959, :residual 93.29216689135905, :year 3} {:ldgraft 10.21037262649076, :residual 89.78962737350923, :year 5}]}
 {:organ "kidney", :tool "ldgraft", :clj-inputs {:age :18+, :months-waiting :mw-<=24, :matchability :easy, :hla-mismatch :1, :donor-age :0+}, :r-inputs {"cent" "Bristol", "rage" "1", "wait" "3", "match" "1", "hla" "1", "dage" "1"}, :result [{:ldgraft 2.7810175778663515, :residual 97.21898242213365, :year 1} {:ldgraft 5.0978767622258285, :residual 94.90212323777418, :year 3} {:ldgraft 7.795488081819945, :residual 92.20451191818006, :year 5}]}
 {:organ "kidney", :tool "ldgraft", :clj-inputs {:age :18+, :months-waiting :mw-24+, :matchability :easy, :hla-mismatch :1, :donor-age :0+}, :r-inputs {"cent" "Bristol", "rage" "1", "wait" "4", "match" "1", "hla" "1", "dage" "1"}, :result [{:ldgraft 5.4746420986771405, :residual 94.52535790132286, :year 1} {:ldgraft 9.918098297480393, :residual 90.0819017025196, :year 3} {:ldgraft 14.95725710722937, :residual 85.04274289277063, :year 5}]}
 {:organ "kidney", :tool "ldgraft", :clj-inputs {:age :18+, :months-waiting :mw-<=6, :matchability :moderate, :hla-mismatch :1, :donor-age :0+}, :r-inputs {"cent" "Bristol", "rage" "1", "wait" "1", "match" "2", "hla" "1", "dage" "1"}, :result [{:ldgraft 4.084650786041088, :residual 95.9153492139589, :year 1} {:ldgraft 7.445180990847189, :residual 92.55481900915281, :year 3} {:ldgraft 11.308750081992025, :residual 88.69124991800797, :year 5}]}
 {:organ "kidney", :tool "ldgraft", :clj-inputs {:age :18+, :months-waiting :mw-<=6, :matchability :difficult, :hla-mismatch :1, :donor-age :0+}, :r-inputs {"cent" "Bristol", "rage" "1", "wait" "1", "match" "3", "hla" "1", "dage" "1"}, :result [{:ldgraft 5.477463449025488, :residual 94.52253655097451, :year 1} {:ldgraft 9.923086323551743, :residual 90.07691367644826, :year 3} {:ldgraft 14.964561229055217, :residual 85.03543877094478, :year 5}]}
 {:organ "kidney", :tool "ldgraft", :clj-inputs {:age :18+, :months-waiting :mw-<=6, :matchability :easy, :hla-mismatch :2, :donor-age :0+}, :r-inputs {"cent" "Bristol", "rage" "1", "wait" "1", "match" "1", "hla" "2", "dage" "1"}, :result [{:ldgraft 5.3010546924629365, :residual 94.69894530753706, :year 1} {:ldgraft 9.610958344724807, :residual 90.3890416552752, :year 3} {:ldgraft 14.507073296681083, :residual 85.49292670331891, :year 5}]}
 {:organ "kidney", :tool "ldgraft", :clj-inputs {:age :18+, :months-waiting :mw-<=6, :matchability :easy, :hla-mismatch :3, :donor-age :0+}, :r-inputs {"cent" "Bristol", "rage" "1", "wait" "1", "match" "1", "hla" "3", "dage" "1"}, :result [{:ldgraft 7.700517667279905, :residual 92.29948233272009, :year 1} {:ldgraft 13.813731067165369, :residual 86.18626893283464, :year 3} {:ldgraft 20.59341328532992, :residual 79.40658671467008, :year 5}]}
 {:organ "kidney", :tool "ldgraft", :clj-inputs {:age :18+, :months-waiting :mw-<=6, :matchability :easy, :hla-mismatch :4, :donor-age :0+}, :r-inputs {"cent" "Bristol", "rage" "1", "wait" "1", "match" "1", "hla" "4", "dage" "1"}, :result [{:ldgraft 6.4544541779471, :residual 93.5455458220529, :year 1} {:ldgraft 11.64270419996354, :residual 88.35729580003647, :year 3} {:ldgraft 17.469328170750465, :residual 82.53067182924954, :year 5}]}
 {:organ "kidney", :tool "ldgraft", :clj-inputs {:age :18+, :months-waiting :mw-<=6, :matchability :easy, :hla-mismatch :1, :donor-age :30+}, :r-inputs {"cent" "Bristol", "rage" "1", "wait" "1", "match" "1", "hla" "1", "dage" "2"}, :result [{:ldgraft 4.212820486974356, :residual 95.78717951302565, :year 1} {:ldgraft 7.6744979007897784, :residual 92.32550209921023, :year 3} {:ldgraft 11.649367855549798, :residual 88.3506321444502, :year 5}]}
 {:organ "kidney", :tool "ldgraft", :clj-inputs {:age :18+, :months-waiting :mw-<=6, :matchability :easy, :hla-mismatch :1, :donor-age :40+}, :r-inputs {"cent" "Bristol", "rage" "1", "wait" "1", "match" "1", "hla" "1", "dage" "3"}, :result [{:ldgraft 5.913413879138352, :residual 94.08658612086165, :year 1} {:ldgraft 10.692297782036508, :residual 89.3077022179635, :year 3} {:ldgraft 16.088270416554174, :residual 83.91172958344583, :year 5}]}
 {:organ "kidney", :tool "ldgraft", :clj-inputs {:age :18+, :months-waiting :mw-<=6, :matchability :easy, :hla-mismatch :1, :donor-age :50+}, :r-inputs {"cent" "Bristol", "rage" "1", "wait" "1", "match" "1", "hla" "1", "dage" "4"}, :result [{:ldgraft 5.032903757674811, :residual 94.96709624232518, :year 1} {:ldgraft 9.135553696096288, :residual 90.86444630390372, :year 3} {:ldgraft 13.808595638999165, :residual 86.19140436100083, :year 5}]}
 {:organ "kidney", :tool "ldgraft", :clj-inputs {:age :18+, :months-waiting :mw-<=6, :matchability :easy, :hla-mismatch :1, :donor-age :60+}, :r-inputs {"cent" "Bristol", "rage" "1", "wait" "1", "match" "1", "hla" "1", "dage" "5"}, :result [{:ldgraft 7.653468705037014, :residual 92.34653129496299, :year 1} {:ldgraft 13.732209685077368, :residual 86.26779031492264, :year 3} {:ldgraft 20.476880170301936, :residual 79.52311982969806, :year 5}]}]