@media print {
  @page {
    size: 210mm 297mm;
    /* landscape */
    /* you can also specify margins here: */
    margin: 10mm;
    margin-right: 10mm;
    /* for compatibility with both A4 and Letter */
  }
  .footer {
    display: none;
  }
}
@media screen {
  .footer {
    display: flex;
  }
}
.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.5);
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.7);
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: white;
}

.btn-primary {
  background-color: #336677;
  border-radius: 20px;
  font-size: 1.2rem;
  color: white;
  margin-right: 25px;
}
.btn-primary:hover {
  color: white;
}

.btn-outline-primary {
  background-color: rgba(51, 102, 119, 0.4);
  border: 4px solid #ffffff66;
  border-radius: 20px;
  font-size: 1.2rem;
  color: #fff;
  margin-right: 25px;
}
.btn-outline-primary:hover {
  color: #fff;
  background-color: #336677;
}

.btn-waiting {
  background-color: #4866CB;
  border: 4px solid #fff;
  border-radius: 20px;
  font-size: 1.2rem;
  color: white;
  margin-right: 25px;
}
.btn-waiting:hover {
  color: white;
}

.btn-outline-waiting {
  background-color: rgba(72, 102, 203, 0.4);
  border: 4px solid #ffffff66;
  border-radius: 20px;
  font-size: 1.2rem;
  color: #fff;
  margin-right: 25px;
}
.btn-outline-waiting:hover {
  color: #fff;
  background-color: #4866CB;
}

.btn-survival {
  background-color: #00979c;
  border: 4px solid #fff;
  border-radius: 20px;
  font-size: 1.2rem;
  color: white;
  margin-right: 25px;
}
.btn-survival:hover {
  color: white;
}

.btn-outline-survival {
  background-color: rgba(0, 151, 156, 0.4);
  border: 4px solid #ffffff66;
  border-radius: 20px;
  font-size: 1.2rem;
  color: #fff;
  margin-right: 25px;
}
.btn-outline-survival:hover {
  color: #fff;
  background-color: #00979c;
}

.btn-graft {
  background-color: #0491d8;
  border: 4px solid #fff;
  border-radius: 20px;
  font-size: 1.2rem;
  color: white;
  margin-right: 25px;
}
.btn-graft:hover {
  color: white;
}

.btn-outline-graft {
  background-color: rgba(4, 145, 216, 0.4);
  border: 4px solid #ffffff66;
  border-radius: 20px;
  font-size: 1.2rem;
  color: #fff;
  margin-right: 25px;
}
.btn-outline-graft:hover {
  color: #fff;
  background-color: #0491d8;
}

.btn-usefulinfo {
  background-color: #0c282c;
  border: 4px solid #fff;
  border-radius: 20px;
  font-size: 1.2rem;
  color: white;
  margin-right: 25px;
}
.btn-usefulinfo:hover {
  color: white;
}

.btn-outline-usefulinfo {
  background-color: rgba(12, 40, 44, 0.4);
  border: 4px solid #ffffff66;
  border-radius: 20px;
  font-size: 1.2rem;
  color: #fff;
  margin-right: 25px;
}
.btn-outline-usefulinfo:hover {
  color: #fff;
  background-color: #0c282c;
}

.centre-header-link {
  color: #FFE599 !important;
  font-weight: bold;
  cursor: pointer;
}
.centre-header-link:hover {
  color: #fff !important;
  text-decoration: underline !important;
}

.toggler {
  margin: 5px;
  padding: 7px;
}
.toggler:hover {
  color: #fff;
  background-color: #88998898 !important;
}

.more {
  background-color: #ffffff;
  border: 3px solid #9C9CFF;
  border-radius: 5px;
  font-size: 1em;
  color: blue;
  margin-left: 15px;
  padding: 0 7px;
  align-self: center;
}
.more:hover {
  background-color: #9C9CFF;
  color: white;
}

.nav-item .dropdown-menu {
  border: 1px solid white;
  border-radius: 0px;
  margin: 0;
  padding: 0;
}
.nav-item .dropdown-menu a.dropdown-item {
  color: white;
  background-color: #337777;
}
.nav-item .dropdown-menu a.dropdown-item:hover {
  color: #337777;
  background-color: white;
}

/*# sourceMappingURL=styles.css.map */
