;;
;; These values are copy pasted from the site using a 'test' url like http://localhost:3000/#/kidney/birm/waiting/test/A2SmBoDyEaMdGfdysn
;;
[{:organ "kidney", :tool "graft", :clj-inputs {:age :18+, :diabetes :yes, :wait :<=1, :graft :first, :hla-mismatch :1, :donor-age :0+, :donor-ht :no, :donor-bmi :underweight}, :r-inputs {"dage" "1", "graft" "1", "diabetes" "1", "dbmi" "1", "dhtn" "1", "wait" "1", "rage" "1", "cent" "Birmingham", "hla" "1"}, :result [{:graft 10.351140168067518, :residual 89.64885983193248, :year 1} {:graft 13.84768576455575, :residual 86.15231423544425, :year 3} {:graft 17.848356788274945, :residual 82.15164321172506, :year 5}]}
 {:organ "kidney", :tool "graft", :clj-inputs {:age :30+, :diabetes :yes, :wait :<=1, :graft :first, :hla-mismatch :1, :donor-age :0+, :donor-ht :no, :donor-bmi :underweight}, :r-inputs {"dage" "1", "graft" "1", "diabetes" "1", "dbmi" "1", "dhtn" "1", "wait" "1", "rage" "2", "cent" "Birmingham", "hla" "1"}, :result [{:graft 6.103904583793485, :residual 93.89609541620652, :year 1} {:graft 8.232508391127546, :residual 91.76749160887245, :year 3} {:graft 10.713434524531284, :residual 89.28656547546872, :year 5}]}
 {:organ "kidney", :tool "graft", :clj-inputs {:age :40+, :diabetes :yes, :wait :<=1, :graft :first, :hla-mismatch :1, :donor-age :0+, :donor-ht :no, :donor-bmi :underweight}, :r-inputs {"dage" "1", "graft" "1", "diabetes" "1", "dbmi" "1", "dhtn" "1", "wait" "1", "rage" "3", "cent" "Birmingham", "hla" "1"}, :result [{:graft 4.586068476884975, :residual 95.41393152311502, :year 1} {:graft 6.203050636757901, :residual 93.7969493632421, :year 3} {:graft 8.099780586178474, :residual 91.90021941382153, :year 5}]}
 {:organ "kidney", :tool "graft", :clj-inputs {:age :50+, :diabetes :yes, :wait :<=1, :graft :first, :hla-mismatch :1, :donor-age :0+, :donor-ht :no, :donor-bmi :underweight}, :r-inputs {"dage" "1", "graft" "1", "diabetes" "1", "dbmi" "1", "dhtn" "1", "wait" "1", "rage" "4", "cent" "Birmingham", "hla" "1"}, :result [{:graft 4.267161766890548, :residual 95.73283823310945, :year 1} {:graft 5.775146420931265, :residual 94.22485357906874, :year 3} {:graft 7.546380655087404, :residual 92.4536193449126, :year 5}]}
 {:organ "kidney", :tool "graft", :clj-inputs {:age :60+, :diabetes :yes, :wait :<=1, :graft :first, :hla-mismatch :1, :donor-age :0+, :donor-ht :no, :donor-bmi :underweight}, :r-inputs {"dage" "1", "graft" "1", "diabetes" "1", "dbmi" "1", "dhtn" "1", "wait" "1", "rage" "5", "cent" "Birmingham", "hla" "1"}, :result [{:graft 3.996467286304606, :residual 96.00353271369539, :year 1} {:graft 5.411525131376271, :residual 94.58847486862373, :year 3} {:graft 7.075485870900511, :residual 92.92451412909949, :year 5}]}
 {:organ "kidney", :tool "graft", :clj-inputs {:age :70+, :diabetes :yes, :wait :<=1, :graft :first, :hla-mismatch :1, :donor-age :0+, :donor-ht :no, :donor-bmi :underweight}, :r-inputs {"dage" "1", "graft" "1", "diabetes" "1", "dbmi" "1", "dhtn" "1", "wait" "1", "rage" "6", "cent" "Birmingham", "hla" "1"}, :result [{:graft 4.157961131298338, :residual 95.84203886870166, :year 1} {:graft 5.628503244440108, :residual 94.37149675555989, :year 3} {:graft 7.356545263715331, :residual 92.64345473628467, :year 5}]}
 {:organ "kidney", :tool "graft", :clj-inputs {:age :18+, :diabetes :pckd, :wait :<=1, :graft :first, :hla-mismatch :1, :donor-age :0+, :donor-ht :no, :donor-bmi :underweight}, :r-inputs {"dage" "1", "graft" "1", "diabetes" "0", "dbmi" "1", "dhtn" "1", "wait" "1", "rage" "1", "cent" "Birmingham", "hla" "1"}, :result [{:graft 7.4748259961086365, :residual 92.52517400389137, :year 1} {:graft 10.055297553424458, :residual 89.94470244657555, :year 3} {:graft 13.045272532619833, :residual 86.95472746738017, :year 5}]}
 {:organ "kidney", :tool "graft", :clj-inputs {:age :18+, :diabetes :yes, :wait :<=3, :graft :first, :hla-mismatch :1, :donor-age :0+, :donor-ht :no, :donor-bmi :underweight}, :r-inputs {"dage" "1", "graft" "1", "diabetes" "1", "dbmi" "1", "dhtn" "1", "wait" "2", "rage" "1", "cent" "Birmingham", "hla" "1"}, :result [{:graft 12.64935419704435, :residual 87.35064580295565, :year 1} {:graft 16.846240321394255, :residual 83.15375967860574, :year 3} {:graft 21.59871854407691, :residual 78.40128145592308, :year 5}]}
 {:organ "kidney", :tool "graft", :clj-inputs {:age :18+, :diabetes :yes, :wait :<=5, :graft :first, :hla-mismatch :1, :donor-age :0+, :donor-ht :no, :donor-bmi :underweight}, :r-inputs {"dage" "1", "graft" "1", "diabetes" "1", "dbmi" "1", "dhtn" "1", "wait" "3", "rage" "1", "cent" "Birmingham", "hla" "1"}, :result [{:graft 13.846463434786681, :residual 86.15353656521332, :year 1} {:graft 18.396853730347996, :residual 81.603146269652, :year 3} {:graft 23.52134406795434, :residual 76.47865593204565, :year 5}]}
 {:organ "kidney", :tool "graft", :clj-inputs {:age :18+, :diabetes :yes, :wait :<=7, :graft :first, :hla-mismatch :1, :donor-age :0+, :donor-ht :no, :donor-bmi :underweight}, :r-inputs {"dage" "1", "graft" "1", "diabetes" "1", "dbmi" "1", "dhtn" "1", "wait" "4", "rage" "1", "cent" "Birmingham", "hla" "1"}, :result [{:graft 15.887076425535563, :residual 84.11292357446443, :year 1} {:graft 21.02198034202065, :residual 78.97801965797935, :year 3} {:graft 26.74970385596844, :residual 73.25029614403155, :year 5}]}
 {:organ "kidney", :tool "graft", :clj-inputs {:age :18+, :diabetes :yes, :wait :>7, :graft :first, :hla-mismatch :1, :donor-age :0+, :donor-ht :no, :donor-bmi :underweight}, :r-inputs {"dage" "1", "graft" "1", "diabetes" "1", "dbmi" "1", "dhtn" "1", "wait" "5", "rage" "1", "cent" "Birmingham", "hla" "1"}, :result [{:graft 22.17231489176068, :residual 77.82768510823932, :year 1} {:graft 28.960895037452428, :residual 71.03910496254757, :year 3} {:graft 36.3023767060358, :residual 63.6976232939642, :year 5}]}
 {:organ "kidney", :tool "graft", :clj-inputs {:age :18+, :diabetes :yes, :wait :<=1, :graft :re-graft, :hla-mismatch :1, :donor-age :0+, :donor-ht :no, :donor-bmi :underweight}, :r-inputs {"dage" "1", "graft" "2", "diabetes" "1", "dbmi" "1", "dhtn" "1", "wait" "1", "rage" "1", "cent" "Birmingham", "hla" "1"}, :result [{:graft 12.7413333951252, :residual 87.2586666048748, :year 1} {:graft 16.96565676076265, :residual 83.03434323923736, :year 3} {:graft 21.747194107038027, :residual 78.25280589296197, :year 5}]}
 {:organ "kidney", :tool "graft", :clj-inputs {:age :18+, :diabetes :yes, :wait :<=1, :graft :re-graft, :hla-mismatch :2, :donor-age :0+, :donor-ht :no, :donor-bmi :underweight}, :r-inputs {"dage" "1", "graft" "2", "diabetes" "1", "dbmi" "1", "dhtn" "1", "wait" "1", "rage" "1", "cent" "Birmingham", "hla" "2"}, :result [{:graft 12.690763299787788, :residual 87.30923670021221, :year 1} {:graft 16.900007359254264, :residual 83.09999264074574, :year 3} {:graft 21.665577824674763, :residual 78.33442217532523, :year 5}]}
 {:organ "kidney", :tool "graft", :clj-inputs {:age :18+, :diabetes :yes, :wait :<=1, :graft :re-graft, :hla-mismatch :3, :donor-age :0+, :donor-ht :no, :donor-bmi :underweight}, :r-inputs {"dage" "1", "graft" "2", "diabetes" "1", "dbmi" "1", "dhtn" "1", "wait" "1", "rage" "1", "cent" "Birmingham", "hla" "3"}, :result [{:graft 14.96087920014354, :residual 85.03912079985646, :year 1} {:graft 19.833323034138505, :residual 80.1666769658615, :year 3} {:graft 25.29207574132305, :residual 74.70792425867695, :year 5}]}
 {:organ "kidney", :tool "graft", :clj-inputs {:age :18+, :diabetes :yes, :wait :<=1, :graft :re-graft, :hla-mismatch :4, :donor-age :0+, :donor-ht :no, :donor-bmi :underweight}, :r-inputs {"dage" "1", "graft" "2", "diabetes" "1", "dbmi" "1", "dhtn" "1", "wait" "1", "rage" "1", "cent" "Birmingham", "hla" "4"}, :result [{:graft 16.119100730764412, :residual 83.88089926923558, :year 1} {:graft 21.319010624347513, :residual 78.68098937565249, :year 3} {:graft 27.112858966289334, :residual 72.88714103371066, :year 5}]}
 {:organ "kidney", :tool "graft", :clj-inputs {:age :18+, :diabetes :yes, :wait :<=1, :graft :re-graft, :hla-mismatch :1, :donor-age :30+, :donor-ht :no, :donor-bmi :underweight}, :r-inputs {"dage" "2", "graft" "2", "diabetes" "1", "dbmi" "1", "dhtn" "1", "wait" "1", "rage" "1", "cent" "Birmingham", "hla" "1"}, :result [{:graft 15.477050533965443, :residual 84.52294946603456, :year 1} {:graft 20.496348547653398, :residual 79.5036514523466, :year 3} {:graft 26.105988319949024, :residual 73.89401168005098, :year 5}]}
 {:organ "kidney", :tool "graft", :clj-inputs {:age :18+, :diabetes :yes, :wait :<=1, :graft :re-graft, :hla-mismatch :1, :donor-age :40+, :donor-ht :no, :donor-bmi :underweight}, :r-inputs {"dage" "3", "graft" "2", "diabetes" "1", "dbmi" "1", "dhtn" "1", "wait" "1", "rage" "1", "cent" "Birmingham", "hla" "1"}, :result [{:graft 17.63039121998693, :residual 82.36960878001307, :year 1} {:graft 23.24637758301754, :residual 76.75362241698245, :year 3} {:graft 29.4586257391657, :residual 70.5413742608343, :year 5}]}
 {:organ "kidney", :tool "graft", :clj-inputs {:age :18+, :diabetes :yes, :wait :<=1, :graft :re-graft, :hla-mismatch :1, :donor-age :50+, :donor-ht :no, :donor-bmi :underweight}, :r-inputs {"dage" "4", "graft" "2", "diabetes" "1", "dbmi" "1", "dhtn" "1", "wait" "1", "rage" "1", "cent" "Birmingham", "hla" "1"}, :result [{:graft 20.57552821465316, :residual 79.42447178534684, :year 1} {:graft 26.96533700843733, :residual 73.03466299156267, :year 3} {:graft 33.93172031271548, :residual 66.06827968728453, :year 5}]}
 {:organ "kidney", :tool "graft", :clj-inputs {:age :18+, :diabetes :yes, :wait :<=1, :graft :re-graft, :hla-mismatch :1, :donor-age :60+, :donor-ht :no, :donor-bmi :underweight}, :r-inputs {"dage" "5", "graft" "2", "diabetes" "1", "dbmi" "1", "dhtn" "1", "wait" "1", "rage" "1", "cent" "Birmingham", "hla" "1"}, :result [{:graft 29.62270673021241, :residual 70.37729326978759, :year 1} {:graft 38.07232587218886, :residual 61.92767412781114, :year 3} {:graft 46.85122262013497, :residual 53.14877737986503, :year 5}]}
 {:organ "kidney", :tool "graft", :clj-inputs {:age :18+, :diabetes :yes, :wait :<=1, :graft :re-graft, :hla-mismatch :1, :donor-age :70+, :donor-ht :no, :donor-bmi :underweight}, :r-inputs {"dage" "6", "graft" "2", "diabetes" "1", "dbmi" "1", "dhtn" "1", "wait" "1", "rage" "1", "cent" "Birmingham", "hla" "1"}, :result [{:graft 33.70855449657013, :residual 66.29144550342987, :year 1} {:graft 42.924132885565356, :residual 57.075867114434644, :year 3} {:graft 52.273710154950706, :residual 47.726289845049294, :year 5}]}
 {:organ "kidney", :tool "graft", :clj-inputs {:age :18+, :diabetes :yes, :wait :<=1, :graft :re-graft, :hla-mismatch :1, :donor-age :0+, :donor-ht :yes, :donor-bmi :underweight}, :r-inputs {"dage" "1", "graft" "2", "diabetes" "1", "dbmi" "1", "dhtn" "2", "wait" "1", "rage" "1", "cent" "Birmingham", "hla" "1"}, :result [{:graft 15.483731615534268, :residual 84.51626838446573, :year 1} {:graft 20.50492080028907, :residual 79.49507919971093, :year 3} {:graft 26.116497256732707, :residual 73.88350274326729, :year 5}]}
 {:organ "kidney", :tool "graft", :clj-inputs {:age :18+, :diabetes :yes, :wait :<=1, :graft :re-graft, :hla-mismatch :1, :donor-age :0+, :donor-ht :no, :donor-bmi :healthy}, :r-inputs {"dage" "1", "graft" "2", "diabetes" "1", "dbmi" "2", "dhtn" "1", "wait" "1", "rage" "1", "cent" "Birmingham", "hla" "1"}, :result [{:graft 13.311888600937593, :residual 86.68811139906241, :year 1} {:graft 17.70538276022734, :residual 82.29461723977266, :year 3} {:graft 22.665406906916974, :residual 77.33459309308303, :year 5}]}
 {:organ "kidney", :tool "graft", :clj-inputs {:age :18+, :diabetes :yes, :wait :<=1, :graft :re-graft, :hla-mismatch :1, :donor-age :0+, :donor-ht :no, :donor-bmi :overweight}, :r-inputs {"dage" "1", "graft" "2", "diabetes" "1", "dbmi" "3", "dhtn" "1", "wait" "1", "rage" "1", "cent" "Birmingham", "hla" "1"}, :result [{:graft 13.91608929167285, :residual 86.08391070832715, :year 1} {:graft 18.486799852241564, :residual 81.51320014775844, :year 3} {:graft 23.632514302783225, :residual 76.36748569721678, :year 5}]}]