;;
;; These values are copy pasted from the site using a 'test' url like http://localhost:3000/#/kidney/birm/waiting/test/A2SmBoDyEaMdGfdysn
;;
{:organ "kidney", :tool "graft", :r-inputs {"dage" "1", "graft" "1", "diabetes" "1", "dbmi" "1", "dhtn" "1", "wait" "1", "rage" "1", "cent" "Birmingham", "hla" "1"}, :result [{:graft 10, :residual 90, :year 1} {:graft 14, :residual 86, :year 3} {:graft 18, :residual 82, :year 5}]}
{:organ "kidney", :tool "graft", :r-inputs {"dage" "1", "graft" "1", "diabetes" "1", "dbmi" "1", "dhtn" "1", "wait" "1", "rage" "2", "cent" "Birmingham", "hla" "1"}, :result [{:graft 6, :residual 94, :year 1} {:graft 8, :residual 92, :year 3} {:graft 11, :residual 89, :year 5}]}
{:organ "kidney", :tool "graft", :r-inputs {"dage" "1", "graft" "1", "diabetes" "1", "dbmi" "1", "dhtn" "1", "wait" "1", "rage" "3", "cent" "Birmingham", "hla" "1"}, :result [{:graft 5, :residual 95, :year 1} {:graft 6, :residual 94, :year 3} {:graft 8, :residual 92, :year 5}]}
{:organ "kidney", :tool "graft", :r-inputs {"dage" "1", "graft" "1", "diabetes" "1", "dbmi" "1", "dhtn" "1", "wait" "1", "rage" "4", "cent" "Birmingham", "hla" "1"}, :result [{:graft 4, :residual 96, :year 1} {:graft 6, :residual 94, :year 3} {:graft 8, :residual 92, :year 5}]}
{:organ "kidney", :tool "graft", :r-inputs {"dage" "1", "graft" "1", "diabetes" "1", "dbmi" "1", "dhtn" "1", "wait" "1", "rage" "5", "cent" "Birmingham", "hla" "1"}, :result [{:graft 4, :residual 96, :year 1} {:graft 5, :residual 95, :year 3} {:graft 7, :residual 93, :year 5}]}
{:organ "kidney", :tool "graft", :r-inputs {"dage" "1", "graft" "1", "diabetes" "1", "dbmi" "1", "dhtn" "1", "wait" "1", "rage" "6", "cent" "Birmingham", "hla" "1"}, :result [{:graft 4, :residual 96, :year 1} {:graft 6, :residual 94, :year 3} {:graft 7, :residual 93, :year 5}]}
{:organ "kidney", :tool "graft", :r-inputs {"dage" "1", "graft" "1", "diabetes" "0", "dbmi" "1", "dhtn" "1", "wait" "1", "rage" "1", "cent" "Birmingham", "hla" "1"}, :result [{:graft 8, :residual 92, :year 1} {:graft 10, :residual 90, :year 3} {:graft 13, :residual 87, :year 5}]}
{:organ "kidney", :tool "graft", :r-inputs {"dage" "1", "graft" "1", "diabetes" "1", "dbmi" "1", "dhtn" "1", "wait" "2", "rage" "1", "cent" "Birmingham", "hla" "1"}, :result [{:graft 13, :residual 87, :year 1} {:graft 17, :residual 83, :year 3} {:graft 22, :residual 78, :year 5}]}
{:organ "kidney", :tool "graft", :r-inputs {"dage" "1", "graft" "1", "diabetes" "1", "dbmi" "1", "dhtn" "1", "wait" "3", "rage" "1", "cent" "Birmingham", "hla" "1"}, :result [{:graft 14, :residual 86, :year 1} {:graft 19, :residual 81, :year 3} {:graft 24, :residual 76, :year 5}]}
{:organ "kidney", :tool "graft", :r-inputs {"dage" "1", "graft" "1", "diabetes" "1", "dbmi" "1", "dhtn" "1", "wait" "4", "rage" "1", "cent" "Birmingham", "hla" "1"}, :result [{:graft 16, :residual 84, :year 1} {:graft 21, :residual 79, :year 3} {:graft 27, :residual 73, :year 5}]}
{:organ "kidney", :tool "graft", :r-inputs {"dage" "1", "graft" "1", "diabetes" "1", "dbmi" "1", "dhtn" "1", "wait" "5", "rage" "1", "cent" "Birmingham", "hla" "1"}, :result [{:graft 23, :residual 77, :year 1} {:graft 30, :residual 70, :year 3} {:graft 37, :residual 63, :year 5}]}
{:organ "kidney", :tool "graft", :r-inputs {"dage" "1", "graft" "2", "diabetes" "1", "dbmi" "1", "dhtn" "1", "wait" "1", "rage" "1", "cent" "Birmingham", "hla" "1"}, :result [{:graft 13, :residual 87, :year 1} {:graft 17, :residual 83, :year 3} {:graft 22, :residual 78, :year 5}]}
{:organ "kidney", :tool "graft", :r-inputs {"dage" "1", "graft" "1", "diabetes" "1", "dbmi" "1", "dhtn" "1", "wait" "1", "rage" "1", "cent" "Birmingham", "hla" "2"}, :result [{:graft 10, :residual 90, :year 1} {:graft 14, :residual 86, :year 3} {:graft 18, :residual 82, :year 5}]}
{:organ "kidney", :tool "graft", :r-inputs {"dage" "1", "graft" "1", "diabetes" "1", "dbmi" "1", "dhtn" "1", "wait" "1", "rage" "1", "cent" "Birmingham", "hla" "3"}, :result [{:graft 12, :residual 88, :year 1} {:graft 16, :residual 84, :year 3} {:graft 21, :residual 79, :year 5}]}
{:organ "kidney", :tool "graft", :r-inputs {"dage" "1", "graft" "1", "diabetes" "1", "dbmi" "1", "dhtn" "1", "wait" "1", "rage" "1", "cent" "Birmingham", "hla" "4"}, :result [{:graft 13, :residual 87, :year 1} {:graft 18, :residual 82, :year 3} {:graft 23, :residual 77, :year 5}]}
{:organ "kidney", :tool "graft", :r-inputs {"dage" "2", "graft" "1", "diabetes" "1", "dbmi" "1", "dhtn" "1", "wait" "1", "rage" "1", "cent" "Birmingham", "hla" "1"}, :result [{:graft 13, :residual 87, :year 1} {:graft 17, :residual 83, :year 3} {:graft 22, :residual 78, :year 5}]}
{:organ "kidney", :tool "graft", :r-inputs {"dage" "3", "graft" "1", "diabetes" "1", "dbmi" "1", "dhtn" "1", "wait" "1", "rage" "1", "cent" "Birmingham", "hla" "1"}, :result [{:graft 15, :residual 85, :year 1} {:graft 19, :residual 81, :year 3} {:graft 25, :residual 75, :year 5}]}
{:organ "kidney", :tool "graft", :r-inputs {"dage" "4", "graft" "1", "diabetes" "1", "dbmi" "1", "dhtn" "1", "wait" "1", "rage" "1", "cent" "Birmingham", "hla" "1"}, :result [{:graft 17, :residual 83, :year 1} {:graft 23, :residual 77, :year 3} {:graft 29, :residual 71, :year 5}]}
{:organ "kidney", :tool "graft", :r-inputs {"dage" "5", "graft" "1", "diabetes" "1", "dbmi" "1", "dhtn" "1", "wait" "1", "rage" "1", "cent" "Birmingham", "hla" "1"}, :result [{:graft 25, :residual 75, :year 1} {:graft 33, :residual 67, :year 3} {:graft 40, :residual 60, :year 5}]}
{:organ "kidney", :tool "graft", :r-inputs {"dage" "6", "graft" "1", "diabetes" "1", "dbmi" "1", "dhtn" "1", "wait" "1", "rage" "1", "cent" "Birmingham", "hla" "1"}, :result [{:graft 29, :residual 71, :year 1} {:graft 37, :residual 63, :year 3} {:graft 46, :residual 54, :year 5}]}
{:organ "kidney", :tool "graft", :r-inputs {"dage" "1", "graft" "1", "diabetes" "1", "dbmi" "1", "dhtn" "2", "wait" "1", "rage" "1", "cent" "Birmingham", "hla" "1"}, :result [{:graft 13, :residual 87, :year 1} {:graft 17, :residual 83, :year 3} {:graft 22, :residual 78, :year 5}]}
{:organ "kidney", :tool "graft", :r-inputs {"dage" "1", "graft" "1", "diabetes" "1", "dbmi" "2", "dhtn" "1", "wait" "1", "rage" "1", "cent" "Birmingham", "hla" "1"}, :result [{:graft 11, :residual 89, :year 1} {:graft 15, :residual 85, :year 3} {:graft 19, :residual 81, :year 5}]}
{:organ "kidney", :tool "graft", :r-inputs {"dage" "1", "graft" "1", "diabetes" "1", "dbmi" "3", "dhtn" "1", "wait" "1", "rage" "1", "cent" "Birmingham", "hla" "1"}, :result [{:graft 11, :residual 89, :year 1} {:graft 15, :residual 85, :year 3} {:graft 20, :residual 80, :year 5}]}
