;;
;; These values are copy pasted from the site using a 'test' url like http://localhost:3000/#/kidney/birm/waiting/test/A2SmBoDyEaMdGfdysn
;;
[{:organ "kidney", :tool "survival", :clj-inputs {:age :18+, :ethnicity :asian, :diabetes :yes, :wait :<=1, :donor-age :0+, :hla-mismatch :1, :donor-ht :no}, :r-inputs {"cent" "Birmingham", "rage" "1", "rethnic" "2", "diabetes" "1", "wait" "1", "dage" "1", "hla" "1", "dhtn" "1"}, :result [{:survival 0.3685184723000945, :residual 99.6314815276999, :year 1} {:survival 0.9032851050366442, :residual 99.09671489496336, :year 3} {:survival 1.6025326212893543, :residual 98.39746737871064, :year 5}]}
 {:organ "kidney", :tool "survival", :clj-inputs {:age :30+, :ethnicity :asian, :diabetes :yes, :wait :<=1, :donor-age :0+, :hla-mismatch :1, :donor-ht :no}, :r-inputs {"cent" "Birmingham", "rage" "2", "rethnic" "2", "diabetes" "1", "wait" "1", "dage" "1", "hla" "1", "dhtn" "1"}, :result [{:survival 0.6378915592473278, :residual 99.36210844075268, :year 1} {:survival 1.5604790625804998, :residual 98.4395209374195, :year 3} {:survival 2.7613335871964906, :residual 97.23866641280351, :year 5}]}
 {:organ "kidney", :tool "survival", :clj-inputs {:age :40+, :ethnicity :asian, :diabetes :yes, :wait :<=1, :donor-age :0+, :hla-mismatch :1, :donor-ht :no}, :r-inputs {"cent" "Birmingham", "rage" "3", "rethnic" "2", "diabetes" "1", "wait" "1", "dage" "1", "hla" "1", "dhtn" "1"}, :result [{:survival 0.6471136527990584, :residual 99.35288634720094, :year 1} {:survival 1.5829324487472096, :residual 98.41706755125279, :year 3} {:survival 2.800818315936615, :residual 97.19918168406339, :year 5}]}
 {:organ "kidney", :tool "survival", :clj-inputs {:age :50+, :ethnicity :asian, :diabetes :yes, :wait :<=1, :donor-age :0+, :hla-mismatch :1, :donor-ht :no}, :r-inputs {"cent" "Birmingham", "rage" "4", "rethnic" "2", "diabetes" "1", "wait" "1", "dage" "1", "hla" "1", "dhtn" "1"}, :result [{:survival 1.178414368307501, :residual 98.8215856316925, :year 1} {:survival 2.871385757952516, :residual 97.12861424204749, :year 3} {:survival 5.0548030348762545, :residual 94.94519696512374, :year 5}]}
 {:organ "kidney", :tool "survival", :clj-inputs {:age :60+, :ethnicity :asian, :diabetes :yes, :wait :<=1, :donor-age :0+, :hla-mismatch :1, :donor-ht :no}, :r-inputs {"cent" "Birmingham", "rage" "5", "rethnic" "2", "diabetes" "1", "wait" "1", "dage" "1", "hla" "1", "dhtn" "1"}, :result [{:survival 2.09624375236237, :residual 97.90375624763763, :year 1} {:survival 5.0735240914673625, :residual 94.92647590853264, :year 3} {:survival 8.853382493909878, :residual 91.14661750609012, :year 5}]}
 {:organ "kidney", :tool "survival", :clj-inputs {:age :70+, :ethnicity :asian, :diabetes :yes, :wait :<=1, :donor-age :0+, :hla-mismatch :1, :donor-ht :no}, :r-inputs {"cent" "Birmingham", "rage" "6", "rethnic" "2", "diabetes" "1", "wait" "1", "dage" "1", "hla" "1", "dhtn" "1"}, :result [{:survival 3.2496533416086937, :residual 96.75034665839131, :year 1} {:survival 7.798521267758874, :residual 92.20147873224113, :year 3} {:survival 13.459481135389328, :residual 86.54051886461068, :year 5}]}
 {:organ "kidney", :tool "survival", :clj-inputs {:age :30+, :ethnicity :white, :diabetes :yes, :wait :<=1, :donor-age :0+, :hla-mismatch :1, :donor-ht :no}, :r-inputs {"cent" "Birmingham", "rage" "2", "rethnic" "1", "diabetes" "1", "wait" "1", "dage" "1", "hla" "1", "dhtn" "1"}, :result [{:survival 0.7644767792203799, :residual 99.23552322077963, :year 1} {:survival 1.8684156747903136, :residual 98.13158432520969, :year 3} {:survival 3.3022332947741484, :residual 96.69776670522585, :year 5}]}
 {:organ "kidney", :tool "survival", :clj-inputs {:age :30+, :ethnicity :asian, :diabetes :pckd, :wait :<=1, :donor-age :0+, :hla-mismatch :1, :donor-ht :no}, :r-inputs {"cent" "Birmingham", "rage" "2", "rethnic" "2", "diabetes" "0", "wait" "1", "dage" "1", "hla" "1", "dhtn" "1"}, :result [{:survival 0.32171483001314227, :residual 99.67828516998686, :year 1} {:survival 0.7888329392380045, :residual 99.211167060762, :year 3} {:survival 1.4001091805705523, :residual 98.59989081942945, :year 5}]}
 {:organ "kidney", :tool "survival", :clj-inputs {:age :30+, :ethnicity :asian, :diabetes :yes, :wait :<=3, :donor-age :0+, :hla-mismatch :1, :donor-ht :no}, :r-inputs {"cent" "Birmingham", "rage" "2", "rethnic" "2", "diabetes" "1", "wait" "2", "dage" "1", "hla" "1", "dhtn" "1"}, :result [{:survival 0.7669558028739032, :residual 99.23304419712609, :year 1} {:survival 1.8744405411563747, :residual 98.12555945884363, :year 3} {:survival 3.3128029571090734, :residual 96.68719704289093, :year 5}]}
 {:organ "kidney", :tool "survival", :clj-inputs {:age :30+, :ethnicity :asian, :diabetes :yes, :wait :<=5, :donor-age :0+, :hla-mismatch :1, :donor-ht :no}, :r-inputs {"cent" "Birmingham", "rage" "2", "rethnic" "2", "diabetes" "1", "wait" "3", "dage" "1", "hla" "1", "dhtn" "1"}, :result [{:survival 0.8053892822694753, :residual 99.19461071773053, :year 1} {:survival 1.9678188351917925, :residual 98.03218116480821, :year 3} {:survival 3.4765554506796637, :residual 96.52344454932033, :year 5}]}
 {:organ "kidney", :tool "survival", :clj-inputs {:age :30+, :ethnicity :asian, :diabetes :yes, :wait :<=7, :donor-age :0+, :hla-mismatch :1, :donor-ht :no}, :r-inputs {"cent" "Birmingham", "rage" "2", "rethnic" "2", "diabetes" "1", "wait" "4", "dage" "1", "hla" "1", "dhtn" "1"}, :result [{:survival 1.0557788310446847, :residual 98.94422116895531, :year 1} {:survival 2.5748770594309134, :residual 97.42512294056908, :year 3} {:survival 4.5381528272328, :residual 95.4618471727672, :year 5}]}
 {:organ "kidney", :tool "survival", :clj-inputs {:age :30+, :ethnicity :asian, :diabetes :yes, :wait :>7, :donor-age :0+, :hla-mismatch :1, :donor-ht :no}, :r-inputs {"cent" "Birmingham", "rage" "2", "rethnic" "2", "diabetes" "1", "wait" "5", "dage" "1", "hla" "1", "dhtn" "1"}, :result [{:survival 1.5305224084784408, :residual 98.46947759152155, :year 1} {:survival 3.7197368390853414, :residual 96.28026316091466, :year 3} {:survival 6.526215018477133, :residual 93.47378498152287, :year 5}]}
 {:organ "kidney", :tool "survival", :clj-inputs {:age :70+, :ethnicity :asian, :diabetes :yes, :wait :<=1, :donor-age :0+, :hla-mismatch :1, :donor-ht :no}, :r-inputs {"cent" "Birmingham", "rage" "6", "rethnic" "2", "diabetes" "1", "wait" "1", "dage" "1", "hla" "1", "dhtn" "1"}, :result [{:survival 3.2496533416086937, :residual 96.75034665839131, :year 1} {:survival 7.798521267758874, :residual 92.20147873224113, :year 3} {:survival 13.459481135389328, :residual 86.54051886461068, :year 5}]}
 {:organ "kidney", :tool "survival", :clj-inputs {:age :18+, :ethnicity :asian, :diabetes :yes, :wait :<=1, :donor-age :30+, :hla-mismatch :1, :donor-ht :no}, :r-inputs {"cent" "Birmingham", "rage" "1", "rethnic" "2", "diabetes" "1", "wait" "1", "dage" "2", "hla" "1", "dhtn" "1"}, :result [{:survival 0.713027857144144, :residual 99.28697214285586, :year 1} {:survival 1.743327853296539, :residual 98.25667214670347, :year 3} {:survival 3.082672363117156, :residual 96.91732763688285, :year 5}]}
 {:organ "kidney", :tool "survival", :clj-inputs {:age :18+, :ethnicity :asian, :diabetes :yes, :wait :<=1, :donor-age :40+, :hla-mismatch :1, :donor-ht :no}, :r-inputs {"cent" "Birmingham", "rage" "1", "rethnic" "2", "diabetes" "1", "wait" "1", "dage" "3", "hla" "1", "dhtn" "1"}, :result [{:survival 0.5364792340956326, :residual 99.46352076590436, :year 1} {:survival 1.3133661473193725, :residual 98.68663385268063, :year 3} {:survival 2.326316291945274, :residual 97.67368370805472, :year 5}]}
 {:organ "kidney", :tool "survival", :clj-inputs {:age :18+, :ethnicity :asian, :diabetes :yes, :wait :<=1, :donor-age :50+, :hla-mismatch :1, :donor-ht :no}, :r-inputs {"cent" "Birmingham", "rage" "1", "rethnic" "2", "diabetes" "1", "wait" "1", "dage" "4", "hla" "1", "dhtn" "1"}, :result [{:survival 0.6096774866152121, :residual 99.39032251338479, :year 1} {:survival 1.4917663080402987, :residual 98.5082336919597, :year 3} {:survival 2.640457166397303, :residual 97.3595428336027, :year 5}]}
 {:organ "kidney", :tool "survival", :clj-inputs {:age :18+, :ethnicity :asian, :diabetes :yes, :wait :<=1, :donor-age :60+, :hla-mismatch :1, :donor-ht :no}, :r-inputs {"cent" "Birmingham", "rage" "1", "rethnic" "2", "diabetes" "1", "wait" "1", "dage" "5", "hla" "1", "dhtn" "1"}, :result [{:survival 0.6014848079365698, :residual 99.39851519206343, :year 1} {:survival 1.471808471804148, :residual 98.52819152819585, :year 3} {:survival 2.605335893680949, :residual 97.39466410631906, :year 5}]}
 {:organ "kidney", :tool "survival", :clj-inputs {:age :18+, :ethnicity :asian, :diabetes :yes, :wait :<=1, :donor-age :70+, :hla-mismatch :1, :donor-ht :no}, :r-inputs {"cent" "Birmingham", "rage" "1", "rethnic" "2", "diabetes" "1", "wait" "1", "dage" "6", "hla" "1", "dhtn" "1"}, :result [{:survival 0.6712225356495738, :residual 99.32877746435042, :year 1} {:survival 1.6416169221919907, :residual 98.35838307780801, :year 3} {:survival 2.903982940767813, :residual 97.09601705923218, :year 5}]}
 {:organ "kidney", :tool "survival", :clj-inputs {:age :18+, :ethnicity :asian, :diabetes :yes, :wait :<=1, :donor-age :0+, :hla-mismatch :2, :donor-ht :no}, :r-inputs {"cent" "Birmingham", "rage" "1", "rethnic" "2", "diabetes" "1", "wait" "1", "dage" "1", "hla" "2", "dhtn" "1"}, :result [{:survival 0.49572557818126084, :residual 99.50427442181874, :year 1} {:survival 1.213957588604686, :residual 98.78604241139531, :year 3} {:survival 2.1510775491827783, :residual 97.84892245081723, :year 5}]}
 {:organ "kidney", :tool "survival", :clj-inputs {:age :18+, :ethnicity :asian, :diabetes :yes, :wait :<=1, :donor-age :0+, :hla-mismatch :3, :donor-ht :no}, :r-inputs {"cent" "Birmingham", "rage" "1", "rethnic" "2", "diabetes" "1", "wait" "1", "dage" "1", "hla" "3", "dhtn" "1"}, :result [{:survival 0.5458426926926108, :residual 99.45415730730738, :year 1} {:survival 1.336197624517066, :residual 98.66380237548293, :year 3} {:survival 2.3665444827010385, :residual 97.63345551729896, :year 5}]}
 {:organ "kidney", :tool "survival", :clj-inputs {:age :18+, :ethnicity :asian, :diabetes :yes, :wait :<=1, :donor-age :0+, :hla-mismatch :4, :donor-ht :no}, :r-inputs {"cent" "Birmingham", "rage" "1", "rethnic" "2", "diabetes" "1", "wait" "1", "dage" "1", "hla" "4", "dhtn" "1"}, :result [{:survival 0.47902192212258, :residual 99.52097807787742, :year 1} {:survival 1.173195959500306, :residual 98.8268040404997, :year 3} {:survival 2.079182600974505, :residual 97.9208173990255, :year 5}]}
 {:organ "kidney", :tool "survival", :clj-inputs {:age :18+, :ethnicity :asian, :diabetes :yes, :wait :<=1, :donor-age :0+, :hla-mismatch :1, :donor-ht :yes}, :r-inputs {"cent" "Birmingham", "rage" "1", "rethnic" "2", "diabetes" "1", "wait" "1", "dage" "1", "hla" "1", "dhtn" "2"}, :result [{:survival 0.48950942334842207, :residual 99.51049057665158, :year 1} {:survival 1.1987895838390994, :residual 98.8012104161609, :year 3} {:survival 2.124327080147348, :residual 97.87567291985265, :year 5}]}
 ]